@media (max-width: 767px){
	#menu {
    background-color: #bd2130 !important;
}

g[Attributes Style] {
    transform: scale(0.003, 0.003) translate(136.681, 0);
}


	div#logomarca{
		display: none;
	}
	#logomarcaA {
	    /*width: 50%;*/
	    opacity: 0;
	    height: auto;
	    padding: 0px 0px;
	    /* margin: 5px 0px 0px 0px; */
	    transition: 1s all;
	    position: absolute;
	    /*top: 15px;*/
	    right: 0;
	}
	.sec-fil{
		top: 0px;
	}
	img.maior, img.menor{
	    max-width: 150px;
	    height: auto;
	}
	#produtos .pan{
		top: 0px;
	}
	#navbarSupportedContent.collapse.navbar-collapse .nav-item a::after{
		content: none;
	}
}
