//- extends layout
//- block content
//- 	strong Bem vindo(a), #{session.nome}
//- 	.container-fluid(style="padding:0px;")
//- 		ul.nav.nav-pills.nav-justified
//- 			li.nav-item
//- 				a.nav-link.active(href='/painel/noticias' title="Clique para cadastrar as imagens do slider principal") Noticas			
//- 			li.nav-item
//- 				a.nav-link.active(href='/painel/parceiros' title="Clique para cadastrar Parceiros") Parceiros
//- 			li.nav-item
//- 				a.nav-link.logout(href='/logout' name=""+session.nome id=""+session._id title="Clique para sair do painel administrativo") Sair
//- 	block content2