doctype html
html(lang='pt-br')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
		title Painel Administrativo
		link(rel='stylesheet', href='/css/libs/bootstrap.min.css')
		link(rel='stylesheet', href='/css/mylibs/admin/menu_login.css')
		link(rel='stylesheet', href='/css/mylibs/admin/global.css')
		link(rel='stylesheet', href='/css/mylibs/admin/slider.css')
		link(rel='stylesheet', href='/css/mylibs/admin/alert.css')
		block links
	body
		include svgAdmin
		div.container
			if isLogged
				include partials/menu
			block content

	//- body
	//- 	div.alert-server 
	//- 		h1
	//- 	include svgAdmin
	//- 	div.container
	//- 		if isLogged
	//- 			block content
	//- 	block login
	//- 	block modal
	include ../iconSVG

	script(src="/js/jquery-3.2.1.min.js")
	script(src ="/js/popper.min.js")
	script(src="/js/bootstrap.min.js")
	script(src="/js/mylibs/admin/global.js")
	script(src="/js/mylibs/admin/inputImagem.js")
	script(src="/js/mylibs/admin/funcoes.js")
	block scripts