extends layout
block content
	.container
		form.form-horizontal(role='form', method='POST', action='/login')
			.row
				.col-md-3
				.col-md-6
					h2(style='color:  white;background: #923149;text-align:  center;') Painel Administrativo
					h3 Entrar no Sistema
					p Preencha os campos necessários para acessar.
					hr
			.row
				.col-md-3
				.col-md-6
					.form-group.has-danger
						label.sr-only(for='email') E-Mail
						.input-group.mb-2.mr-sm-2.mb-sm-0
							.input-group-addon(style='width: 2.6rem')
								i.fa.fa-at
							input#email.form-control(type='text', name='email', placeholder='you@example.com', required='', autofocus='')
				//- .col-md-3
				//- 	.form-control-feedback
				//- 		span.text-danger.align-middle
				//- 			i.fa.fa-close
				//- 			|  Example error message
			.row
				.col-md-3
				.col-md-6
					.form-group
						label.sr-only(for='password') Senha
						.input-group.mb-2.mr-sm-2.mb-sm-0
							.input-group-addon(style='width: 2.6rem')
								i.fa.fa-key
							input#password.form-control(type='password', name='password', placeholder='Password', required='')
				.col-md-3
					.form-control-feedback
						span.text-danger.align-middle
							// Put password error message here
			//- .row
			//- 	.col-md-3
			//- 	.col-md-6(style='padding-top: .35rem')
			//- 		.form-check.mb-2.mr-sm-2.mb-sm-0
			//- 			label.form-check-label
			//- 				input.form-check-input(name='remember', type='checkbox')
			//- 				span(style='padding-bottom: .15rem') Remember me
			.row(style='padding-top: 1rem')
				.col-md-3
				.col-md-6
					button.btn.btn-success(type='submit')
						i.fa.fa-sign-in
						|  Login
					//- a.btn.btn-link(href='/password/reset') Forgot Your Password?

	//- Formulario Antigo
	//- form(method="POST",action="/login",class="form-login")
	//- 	h2(style='text-shadow: 0em 0em 0.12em rgb(12, 82, 210);') Painel de Configuração do Aplicativo WEB
	//- 	h3 Entrar no Sistema
	//- 	p Preencha os campos necessários para acessar.

	//- 	if messages.erro
	//- 		br
	//- 		div(class="alert alert-danger")
	//- 			each msg in messages.erro
	//- 				b= msg
	//- 				br
	//- 	div(class="form-group")
	//- 		label E-mail
	//- 		input(type="email", class="form-control", name="email", placeholder="E-mail" autofocus required)
	//- 	div(class='form-group')
	//- 		label Senha
	//- 		input(type="password", class="form-control", name="password", placeholder="Senha" required)
	//- 	button(type="submit", class="btn btn-primary btn-block") Entrar

