extends layout
block links
	link(rel='stylesheet', href='/css/mylibs/admin/inputfyle.css')
	link(rel='stylesheet', href='/css/mylibs/admin/criar.css')
block content
	div.jumbotron#criar
		.row(style="background: #923149;")
			h1.titulo.timeR Painel de Notícias2
		.row.buscar(style="margin-top: 1%;")
			div.busc
				button#buscar-noticia.btn.btn-primary Buscar
				input#numero(name="numero", placeholder="Numero:")
		.row.estNot
			div.estadoNoticia
				div.custom-control.custom-radio.custom-control-inline
					input#radio1.custom-control-input(name='radioEstado', type='radio',value="true",checked)
					label.custom-control-label(for='radio1') Ativa
				div.custom-control.custom-radio.custom-control-inline
					input#radio2.custom-control-input(name='radioEstado', type='radio',value="false")
					label.custom-control-label(for='radio2') Desativa
				//- .custom-control.custom-radio.custom-control-inline
				//- 	input#customRadioInline1.custom-control-input(type='radio', name='customRadioInline1')
				//- 	label.custom-control-label(for='customRadioInline1') Clique neste radio personalizado
				//- .custom-control.custom-radio.custom-control-inline
				//- 	input#customRadioInline2.custom-control-input(type='radio', name='customRadioInline1')
				//- 	label.custom-control-label(for='customRadioInline2') Ou clique neste outro radio personalizado
		.row.addFormato
			button.btn.btn-default.btn-sm(type='button' onclick="inputImagem()")
				svg.icon.icon-plus-circle
					use(xlink:href='#icon-photo')
			button.btn.btn-default.btn-sm(type='button' onclick="campoTitulo()")
				svg.icon.icon-plus-circle
					use(xlink:href='#icon-title')
			button.btn.btn-default.btn-sm(type='button' onclick="campoTexto()")
				svg.icon.icon-plus-circle
					use(xlink:href='#icon-format_color_text')
		form.noticias
			//- .row
		.row.save
			button#salvar-noticia.btn.btn-primary Salvar
block scripts
	script(src="/js/mylibs/admin/criar.js")
	script(src="/js/mylibs/admin/salvarNoticia.js")
