extends home
block links

block content2
	div.container_slider
		aside.titulo.slider
			h5 Cadastro de Slider
		if messages.info
			div(class="alert alert-success")
				p #{messages.info}
		.row.addImagem
			input.inputfile#file-1(type="file", name="files[]", multiple)
			label(for="file-1") Escolha as imagens
		form.slider
			.imagen#resultados
				include ../html/imagens.html
		.row.save
			button#salvar-slider.btn.btn-primary Salvar
block scripts
	//- script(type='text/javascript', src='/js/jquery.magnific-popup.min.js')
	script(type='text/javascript', src='/js/mylibs/admin/slider.js')