svg(style='position: absolute; width: 0; height: 0; overflow: hidden;', version='1.1', xmlns='http://www.w3.org/2000/svg')
	defs
		symbol#icon-title(viewbox='0 0 24 24')
			title titulo
			path(d='M5.016 3.984h13.969v3h-5.484v12h-3v-12h-5.484v-3z')
		symbol#icon-format_color_text(viewbox='0 0 24 24')
			title texto
			path(d='M9.609 12h4.781l-2.391-6.328zM11.016 3h1.969l5.484 14.016h-2.25l-1.078-3h-6.281l-1.125 3h-2.25zM0 20.016h24v3.984h-24v-3.984z')
		symbol#icon-photo(viewbox='0 0 24 24')
			title imagem
			path(d='M6.984 15h14.016l-3.516-4.5-2.484 3-3.516-4.5zM21.984 3.984c1.078 0 2.016 0.938 2.016 2.016v9.984c0 1.078-0.938 2.016-2.016 2.016h-15.984c-1.078 0-2.016-0.938-2.016-2.016l0.047-12c0-1.078 0.891-1.969 1.969-1.969h6l2.016 1.969h7.969zM2.016 6v14.016h18v1.969h-18c-1.078 0-2.016-0.891-2.016-1.969v-14.016h2.016z')
