section#footer
  .back
  .div
    .row.text-center.text-xs-center.text-sm-left.text-md-left
      //- .col-xs-12.col-sm-4.col-md-4
      //-   h5 SOBRE
      //-   a Testando texto
      .col-xs-12.col-sm-12.col-md-12
        ul.list-unstyled.quick-links(style="text-align:center;margin-bottom: 0.5rem;")
          li.col-sm-2
            a(href='javascript:void();')
              //- i.fa.fa-angle-double-right
              | EMPRESA
          li.col-sm-2
            a(href='javascript:void();')
              //- i.fa.fa-angle-double-right
              | PRODUTOS
          li.col-sm-2
            a(href='javascript:void();')
              //- i.fa.fa-angle-double-right
              | CULTURAS
          li.col-sm-2
            a(href='javascript:void();')
              //- i.fa.fa-angle-double-right
              | PARCEIROS
          li.col-sm-2
            a(href='javascript:void();')
              //- i.fa.fa-angle-double-right
              | NOTÍCIAS
          li.col-sm-2
            a(href='javascript:void();')
              //- i.fa.fa-angle-double-right
              | CONTATO
        hr
        .row.d-flex.text-center.justify-content-center.mb-md-0.mb-4
          // Grid column
          .col-md-9.col-12.mt-2
            p(style='line-height: 1.7rem; color:white;')              
              | Com uma visão estratégica bem definida, aliada a valores como excelência, rigor e profissionalismo, a Alleanza Agrociência contribui ativamente para a sustentabilidade do mundo agrícola.
              | A visão da Alleanza Agrociência é expandir, continuamente, nossa compreensão das práticas mais inovadoras, da produção agrícola moderna,
              | com o objetivo de sempre servir como uma fonte confiável de conhecimento para nossos clientes.
        hr
      .col-xs-12.col-sm-12.col-md-12
        ul.list-unstyled.quick-links(style='text-align:center;margin-bottom: 0.5rem;')
          li
            a(href='javascript:void();')
              i.fa.fa-home.mr-3
              | New York, NY 10012, US
          li
            a(href='javascript:void();')
              i.fa.fa-envelope.mr-3
              | info@example.com
          li
            a(href='javascript:void();')
              i.fa.fa-phone.mr-3
              | + 01 234 567 88
        hr
    .row
      .col-xs-12.col-sm-12.col-md-12.mt-1.mt-sm-1
         h5 ACESSE NOSSAS REDES SOCIAIS
         ul.social-network.social-circle(style="float:none; margin-bottom: 0.5rem;")
          li(style="")
            a.icoFacebook(href='https://www.facebook.com/alleanzagrociencia/?ref=br_rs', title='Facebook',style="border: 3px solid #ffffff;", target="_blank")
              i.fa.fa-facebook(style="line-height: 45px;")
          li(style="")
            a.icoInstagram(href='https://www.instagram.com/alleanzaagrociencia/?hl=pt-br', title='Instagram',style="border: 3px solid #ffffff;", target="_blank")
              i.fa.fa-instagram(style="line-height: 45px;")
          li(style="")
            a.icoLinkedin(href='https://www.linkedin.com/company/alleanzaagrociencia/', title='Linkedin',style="border: 3px solid #ffffff;", target="_blank")
              i.fa.fa-linkedin(style="line-height: 45px;")
    .row(style="background: #524536")
      .col-xs-12.col-sm-12.col-md-12.mt-1.mt-sm-1.text-center.text-white
        //- p
        //-   u
        //-     a(href='https://www.nationaltransaction.com/') National Transaction Corporation
        //-   |  is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]
        p.h6
          | © 2019 - Alleanza Agrociência
          //- a.text-green.ml-2(href='https://www.sunlimetech.com', target='_blank') Sunlimetech
// ./Footer
