//- link(href='https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css', rel='stylesheet')
//- // footer start from here
footer
  .footer.container-fluid
    .row.linha_footer
      .col-md-4.col-sm-6.col-serv(style="padding: 0px;")
        //- p(style="font-size: 20px; color:rgb(55, 55, 55); margin-bottom: 0px;")
        //-   i.fa.fa-phone(style="color:rgb(55, 55, 55);")
        //-   | (62) 3291-7005        
        //- p(style="font-size: 20px; color:rgb(55, 55, 55); margin-bottom: 0px;")
        //-   i.fa.fa-whatsapp(style="color:rgb(55, 55, 55); margin-bottom: 0px;")
        //-   | (62) 99154-9334
        //- p(style="font-size: 20px; color:rgb(55, 55, 55);")
        //-   i.fa.fa-envelope(style="color:rgb(55, 55, 55);")
        //-   | info@example.com

      .col-md-4.col-sm-6.col-serv(style="padding: 0px;")
        .logofooter.logoMarcaFooter
          a(href="#")
            img.img-fluid(src='../images/logomarca/logoalleanzahorizontal.png', alt='logoalleanzahorizontal', style="width: 100%;")
      //- .col-md-4.col-sm-6.col-serv(style="padding: 0px;")
      //-   #social
      //-     .social_insta
      //-     .social_face
      //-     .social_linkd
      .col-md-4.col-sm-6.col-serv(style="padding: 0px;")
         //- h5 ACESSE NOSSAS REDES SOCIAIS
         ul.social-network.social-circle
          li(style="")
            a.icoFacebook(href='https://www.facebook.com/alleanzagrociencia/?ref=br_rs', title='Facebook',style="border: 3px solid #ffffff;", target="_blank")
              i.fa.fa-facebook(style="line-height: 45px;")
          li(style="")
            a.icoInstagram(href='https://www.instagram.com/alleanzaagrociencia/?hl=pt-br', title='Instagram',style="border: 3px solid #ffffff;", target="_blank")
              i.fa.fa-instagram(style="line-height: 45px;")
          li(style="")
            a.icoLinkedin(href='https://www.linkedin.com/company/alleanzaagrociencia/', title='Linkedin',style="border: 3px solid #ffffff;", target="_blank")
              i.fa.fa-linkedin(style="line-height: 45px;")
// footer start from here
.footer_menu
  .container
    .col-xs-12.col-sm-12.col-md-12
      ul.bottom_ul.list-unstyled.quick-links
        li
          a.linkfooter(name='quemsomos') QUEM SOMOS
        li
          a.linkfooter(name='produtos') PRODUTOS                  
        li
          a.linkfooter(name='culturas') CULTURAS
        li
          a.linkfooter(name='parceiros') PARCEIROS
        li
          a.linkfooter(name='parceiros') NOTÍCIAS
        li
          a.linkfooter(name='contato') CONTATO
.col-xs-12.col-sm-12.col-md-12.mt-1.mt-sm-1.text-center.text-white.copyright
  p © 2019 - Alleanza Agrociência