nav.navbar.navbar-expand-lg.navbar-light.bg-light#menu
  //- a.navbar-brand(href='#') Navbar
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  .navbar-header
    picture
      a.logo-esq(name='entrada')
        source(media='(max-width: 992px)', srcset='images/logomarca/logo.svg')
        img.navbar-brand#logomarcaA(src="/images/logomarca/A.svg", alt='162')
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto(style="margin-right: 0px !important;margin:auto;")
      li.nav-item
        a.nav-link(name='quemsomos', href='/#quemsomos') EMPRESA
      li.nav-item
        a.nav-link(name='produtos', href='/#produtos') PRODUTOS
      li.nav-item
        a.nav-link(name='culturas', href='/#culturas') CULTURAS
    div#logomarca(style="padding:0px;")
      img.img-fluid(src="/images/logomarca/logobranca.png")
    ul.navbar-nav.mr-auto(style="margin-left: 0px !important;margin:auto;")
      li.nav-item
        a.nav-link(href='/parceiros') PARCEIROS
      li.nav-item
        a.nav-link(href='/noticias/1') NOTÍCIAS
      li.nav-item
        a.nav-link(name='contato', href='/#contato') CONTATO
//- .navbar.navbar-inverse.navbar-static-top
//- 	.container-fluid
//- 		div(style="padding:0px; position:absolute;")
//- 			//- .divblue
//- 			//- .divred
//- 			//- img.navbar-brand#logomarca1(src="images/logomarca/logo.svg")
//- 			img.navbar-brand#logomarcaA(src="images/logomarca/A.svg")
//- 		// Menu hamburger Inicio
//- 		.navbar-header
//- 			button.navbar-toggle(type='button', data-toggle='collapse', data-target='#exemplo-navbar-collapse', aria-expanded='false')
//- 				span.sr-only Navegacao
//- 				span.icon-bar
//- 				span.icon-bar
//- 				span.icon-bar
//- 			// Título Direita do menu
//- 			img.navbar-brand#imgvertical(src="images/logomarca/logoalleanzavertical.png", style="display:none;")
//- 			//- a.navbar-brand(href='#', target='_blank') Título
//- 		// Menu hamburger Fim
//- 		#exemplo-navbar-collapse.collapse.navbar-collapse
//- 			// Links Inicio
//- 			div#logomarca(style="padding:0px;")
//- 				img.navbar-brand(src="images/logomarca/logobranca.png")
//- 			div.divul
//- 				ul.nav.navbar-nav.navbar-left
//- 					//- li(style="padding:0px;")
//- 					//- 	//- .divblue
//- 					//- 	//- .divred
//- 					//- 	img.navbar-brand#logomarca1(src="images/logomarca/logoalleanzavertical.png")
//- 					li.li-links
//- 						a.scroll(href='#culturas') CULTURAS
//- 					li.li-links
//- 						a.scroll(href='#produtos') PRODUTOS
//- 					li.li-links
//- 						a.scroll(href='#quemsomos') EMPRESA
//- 				ul.nav.navbar-nav.navbar-rigth
//- 					li.li-links
//- 						a.scroll(href='#parceiros') PARCEIROS
//- 					li.li-links
//- 						a.scroll(href='#parceiros') NOTICIAS
//- 					li.li-links
//- 						a.scroll(href='#contato') CONTATO
//- 				//- li.col-sm-3
//- 				//- 	a(href='#') CONTATO
//- 			// Links Fim
//- 			//- // Caixa de Pesquisa Inicio
//- 			//- .navbar-right
//- 			//- 	// Formulario caixa pesquisa Inicio
//- 			//- 	form.navbar-form(role='search', method='get', action='#')
//- 			//- 		.input-group
//- 			//- 			input#Filtro.form-control(type='text', placeholder='Digite sua pesquisa...', name='Filtro')
//- 			//- 			// Display icone Lupa
//- 			//- 			.input-group-btn
//- 			//- 				button.btn.btn-default(type='submit')
//- 			//- 					i.glyphicon.glyphicon-search
//- 			//- 	// Formulario caixa pesquisa Fim
//- 			//- 	// Caixa de Pesquisa Fim
