extends ../layout
block content
	link(rel='stylesheet', href='/css/mylibs/culturas/index.css')
	include ../partials/menu
	//- section#algodao.row
	section#arroz.row
		div.listopc.col-sm-3
			.row
				.col-sm-12.col_tit_not#cgaplus
					p.titulo ALGODÃO
			.row.etapa
				.col-sm-12#etapa1
					h1 Pré e pós plantio da cultura

			.row.etapa
				.col-sm-12#etapa2
					h1 Plantio e 20 DAE

			.row.etapa
				.col-sm-12#etapa3
					h1 Pré-Florada e pendoamento
			.row.etapa
				.col-sm-12#etapa4
					h1 Aplicação na fase de crescimento
		div.etapas.col-sm-9
			div.etapa1.mostrarEtapa
				.row 
					h1 Pré e pós plantio da cultura
				.row.produtoCultura
					.prods.fundoBranco
						include produtos/d
					.prods
						include produtos/d-trans
				.row.infoProduto
					h1(class="texto") Fertilizante Multifuncional rico em Carbono Orgânico e aminoácidos com alta concentração de Fosforo, Auto regulador de PH para uso de Herbicidas, promove o efeito Tamponante e eleva a Condutividade Elétrica da água e tem como efeito direto o poder de penetrar na cerosidade da folha auxiliando na translocação diretamente para Raízes.
			div.etapa2.ocultarEtapa
				.row 
					h1 Plantio e 20 DAE
				.row.produtoCultura
					.prods.fundoBranco
						include produtos/solare
					.prods
						include produtos/cga
					.prods
						include produtos/cga-plus
					.prods
						include produtos/v-power
					.prods
						include produtos/special-como
					.prods
						include produtos/special-mol

					//- ALLEANZA CGA
					//- ALLEANZA CGA PLUS
					//- ALLEANZA V POWER
					//- ALLEANZA SPECIAL CoMo
					//- ALLEANZA SPECIAL Mol
				.row.infoProduto
					h1(class="texto") Fertilizante formulado com base no Carbonato de Cálcio Nano particulado, com características (Lime Stone), o qual tem o poder quando aplicado na superfície da folha de refletir os raios Ultravioleta e Infravermelho, permitindo assim, a passagem da luz benéfica a produção de Clorofila e ser totalmente absorvida pela planta; Promove um efeito de Proteção Solar e reduz o Estresse solar bem como o Hídrico pois permite que a planta necessite 25% menos água quando protegida com essa tecnologia.
			div.etapa3.ocultarEtapa
				.row 
					h1 Pré-Florada e pendoamento
				.row.produtoCultura
					.prods.fundoBranco
						include produtos/dsk-full
				.row.infoProduto
					h1(class="texto") Fertilizante com alto poder de assimilação pelas culturas, devido a sua formula única de balanceamento a qual promove uma rápida reposição de potássio e enxofre corrigindo, imediatamente, a deficiência nutricional, aumentando assim o peso específico; °Brix, o ATR e os Carboidratos de frutos e grãos, contém baixo índice salino podendo ser aplicado em cultivos intensivos sensíveis a salinidade, sua alta concentração de Enxofre permite utilizar o produto como um poderoso e eficaz desalojante de insetos em qualquer estágio de vida.
			div.etapa4.ocultarEtapa
				.row 
					h1 Aplicação na fase de crescimento
				.row.produtoCultura
					.prods.fundoBranco
						include produtos/organic-f
				.row.infoProduto
					h1(class="texto") Fertilizante formulado com base no Carbonato de Cálcio Nano particulado, com características (Lime Stone), o qual tem o poder quando aplicado na superfície da folha de refletir os raios Ultravioleta e Infravermelho, permitindo assim, a passagem da luz benéfica a produção de Clorofila e ser totalmente absorvida pela planta; Promove um efeito de Proteção Solar e reduz o Estresse solar bem como o Hídrico pois permite que a planta necessite 25% menos água quando protegida com essa tecnologia.

block jscript
	script(src="/js/mylibs/cultura.js")


//- Arroz:
//- *Pré e pós-plantio da cultura: ALLEANZA D, ALLEANZA D TRANS
//- *Plantio e 20 DAE: ALLEANZA CGA, ALLEANZA CGA PLUS, ALLEANZA V POWER, ALLEANZA SPECIAL CoMo, ALLEANZA SPECIAL Mol
//- *Pré-Florada e pendoamento: ALLEANZA D.S.K. FULL
//- *Aplicação na fase de crescimento: ALLEANZA ORGANIC F