extends ../layout
block content
	link(rel='stylesheet', href='/css/mylibs/culturas/index.css')
	include ../partials/menu
	//- section#algodao.row
	section#batata.row
		div.listopc.col-sm-3
			.row
				.col-sm-12.col_tit_not#cgaplus
					p.titulo ALGODÃO
			.row.etapa
				.col-sm-12#etapa1
					h1 Antes do plantio

			.row.etapa
				.col-sm-12#etapa2
					h1 Crescimento e desenvolvimento vegetativo

			.row.etapa
				.col-sm-12#etapa3
					h1 Amontoa
			.row.etapa
				.col-sm-12#etapa4
					h1 Aplicações a cada 7 dias
		div.etapas.col-sm-9
			div.etapa1.mostrarEtapa
				.row 
					h1 Antes do plantio
				.row.produtoCultura
					.prods.fundoBranco
						include produtos/organic
					.prods
						include produtos/organic-f
					.prods
						include produtos/solo
				.row.infoProduto
					h1(class="texto") Fertilizante formulado com ácidos húmicos e fúlvicos, provenientes da matéria-prima  leonardita,  a qual tem como características as maiores concentrações de AH e AF do mercado mundial; Produto altamente solúvel em toda faixa de pH útil (2 a 12), aumenta a CTC e a microbiota do solo; Favorece a estrutura do solo promovendo uma melhor condição para as raízes, aumentando o poder de absorção e retenção de água e melhorando a aeração; Estimula a captação de nutrientes retidos no solo, pelas raízes e radicelas.
			div.etapa2.ocultarEtapa
				.row 
					h1 Crescimento e desenvolvimento vegetativo
				.row.produtoCultura
					.prods.fundoBranco
						include produtos/v-full
					.prods
						include produtos/k
				.row.infoProduto
					h1(class="texto") Fertilizante composto por Macro e Micronutrientes enriquecido com aminoácidos e Carbono Orgânico, com a função de revitalizar e recuperar a planta, após alguma injúria ou Estresse, por clima ou Fito toxidez e de garantir todos nutrientes essenciais, em níveis adequados, para fortalecimento da planta.
			div.etapa3.ocultarEtapa
				.row 
					h1 Amontoa
				.row.produtoCultura
					.prods.fundoBranco
						include produtos/solare
					.prods
						include produtos/lotus
				.row.infoProduto
					h1(class="texto") Fertilizante formulado com base no Carbonato de Cálcio Nano particulado, com características (Lime Stone), o qual tem o poder quando aplicado na superfície da folha de refletir os raios Ultravioleta e Infravermelho, permitindo assim, a passagem da luz benéfica a produção de Clorofila e ser totalmente absorvida pela planta; Promove um efeito de Proteção Solar e reduz o Estresse solar bem como o Hídrico pois permite que a planta necessite 25% menos água quando protegida com essa tecnologia.
			div.etapa4.ocultarEtapa
				.row 
					h1 Aplicações a cada 7 dias
				.row.produtoCultura
					.prods.fundoBranco
						include produtos/cga
					.prods
						include produtos/cga-plus
					.prods
						include produtos/v-power
				.row.infoProduto
					h1(class="texto") Fertilizante complexado, com elevada concentração de Extrato de Algas ASCOPHYLLUN NODOSUM em sua formulação e Carbono Orgânico e Aminoácidos, a qual confere um poderoso enraizamento das plantas e eleva o potencial de Germinação, quando inoculado a sementes; Promove crescimento celular, formulação fechada 100% com Matérias Primas sem adição de água na fórmula.

block jscript
	script(src="/js/mylibs/cultura.js")

//- *Antes do plantio: ALLEANZA ORGANIC, ALLEANZA ORGANIC F, ALLEANZA SOLO
//- *Crescimento e desenvolvimento vegetativo: ALLEANZA V FULL, ALLEANZA K
//- *Amontoa: ALLEANZA SOLARE, ALLEANZA LÓTUS
//- *Aplicações a cada 7 dias: ALLEANZA CGA, ALLEANZA CGA PLUS, ALLEANZA V POWER