extends ../layout
block content
	link(rel='stylesheet', href='/css/mylibs/culturas/index.css')
	include ../partials/menu
	//- section#algodao.row
	section#cafe.row
		div.listopc.col-sm-3
			.row
				.col-sm-12.col_tit_not#cgaplus
					p.titulo CAFÉ
			.row.etapa
				.col-sm-12#etapa1
					h1 Pré e pós-plantio da cultura

			.row.etapa
				.col-sm-12#etapa2
					h1 Pré e pós-florada

			.row.etapa
				.col-sm-12#etapa3
					h1 Durante o crescimento vegetativo
			.row.etapa
				.col-sm-12#etapa4
					h1 02 a 03 aplicações na formação dos frutos
		div.etapas.col-sm-9
			div.etapa1.mostrarEtapa
				.row 
					h1 Pré e pós-plantio da cultura
				.row.produtoCultura
					.prods.fundoBranco
						include produtos/d
					.prods
						include produtos/d-trans
				.row.infoProduto
					h1(class="texto") Fertilizante Multifuncional rico em Carbono Orgânico e aminoácidos com alta concentração de Fosforo, Auto regulador de PH para uso de Herbicidas, promove o efeito Tamponante e eleva a Condutividade Elétrica da água e tem como efeito direto o poder de penetrar na cerosidade da folha auxiliando na translocação diretamente para Raízes.
			div.etapa2.ocultarEtapa
				.row 
					h1 Pré e pós-florada
				.row.produtoCultura
					.prods.fundoBranco
						include produtos/solare
					.prods
						include produtos/lotus
					.prods
						include produtos/lotus
					.prods
						include produtos/special-nicomo
				.row.infoProduto
					h1(class="texto") Fertilizante formulado com base no Carbonato de Cálcio Nano particulado, com características (Lime Stone), o qual tem o poder quando aplicado na superfície da folha de refletir os raios Ultravioleta e Infravermelho, permitindo assim, a passagem da luz benéfica a produção de Clorofila e ser totalmente absorvida pela planta; Promove um efeito de Proteção Solar e reduz o Estresse solar bem como o Hídrico pois permite que a planta necessite 25% menos água quando protegida com essa tecnologia.
			div.etapa3.ocultarEtapa
				.row 
					h1 Durante o crescimento vegetativo
				.row.produtoCultura
					.prods.fundoBranco
						include produtos/special-mg
					.prods
						include produtos/special-mn
					.prods
						include produtos/special-zinco
				.row.infoProduto
					h1(class="texto") Não é necessária a incorporação do produto no solo. Sua percolação é de até 25 cm, variando conforme as condições do clima e do solo; Fácil aplicação (via barra, pivô, aspersão, gotejamento etc.) e rápida absorção do produto pelas plantas; Suas partículas são extremamente pequenas e uniformes, ampliando seu contato com a superfície do solo e com o sistema radicular,  aumentando a solubilização e absorção dos nutrientes pelas plantas; Formulação líquida com tecnologia de nanopartículas, facilitando o manuseio e a aplicação dos produtos, e matérias-primas de excelente qualidade (não ocorre entupimento dos filtros e bicos dos pulverizadores); Contém alta concentração de nutrientes, reduzindo a dose aplicada e os custos operacionais com transporte e armazenamento de produtos; Possui Magnésio (Mg) na forma de hidróxido, que libera gradativamente o nutriente, aumentando o aproveitamento pelas plantas e não ocasionando sintomas de fitotoxidez; Formulação com alta concentração de Magnésio.
			div.etapa4.ocultarEtapa
				.row 
					h1 02 a 03 aplicações na formação dos frutos
				.row.produtoCultura
					.prods.fundoBranco
						include produtos/dsk-full
				.row.infoProduto
					h1(class="texto") Fertilizante com alto poder de assimilação pelas culturas, devido a sua formula única de balanceamento a qual promove uma rápida reposição de potássio e enxofre corrigindo, imediatamente, a deficiência nutricional, aumentando assim o peso específico; °Brix, o ATR e os Carboidratos de frutos e grãos, contém baixo índice salino podendo ser aplicado em cultivos intensivos sensíveis a salinidade, sua alta concentração de Enxofre permite utilizar o produto como um poderoso e eficaz desalojante de insetos em qualquer estágio de vida.

block jscript
	script(src="/js/mylibs/cultura.js")
//- *Pré e pós-plantio da cultura: ALLEANZA D, ALLEANZA D TRANS
//- *Pré e pós-florada: ALLEANZA SOLARE, ALLEANZA LÓTUS, ALLEANZA SPECIAL NiCoMo
//- *Durante o crescimento vegetativo: ALLEANZA SPECIAL Mg, ALLEANZA SPECIAL Mn, ALLEANZA SPECIAL ZINCO
//- *02 a 03 aplicações na formação dos frutos: ALLEANZA D.S.K. FULL