Cana de Açúcar
*Pré e pós-plantio da cultura: ALLEANZA D, ALLEANZA D TRANS
*Antes ou durante o plantio e após rebrota: ALLEANZA SPECIAL CÁLCIO, ALLEANZA SPECIAL ULTRA CaB
*Ao início da fase de maior crescimento: ALLEANZA ORGANIC F
*20 a 40 dias da colheita: ALLEANZA D.S.K. FULL