Citrus:
*Pré e pós-plantio da cultura: ALLEANZA D, ALLEANZA D TRANS
*Pré e pós-florada: ALLEANZA SOLARE, ALLEANZA LÓTUS, ALLEANZA SPECIAL NiCoMo
*Durante o crescimento vegetativo: ALLEANZA SPECIAL Mg, ALLEANZA SPECIAL 
Mn, ALLEANZA SPECIAL ZINCO
*Aplicações a cada 15 dias: ALLEANZA CGA, ALLEANZA CGA PLUS, ALLEANZA V POWER