Feijão:
*Antes do plantio: ALLEANZA ORGANIC, ALLEANZA ORGANIC F, ALLEANZA SOLO
*Pré e pós-plantio da cultura: ALLEANZA D, ALLEANZA D TRANS
*Início de florada, canivete e granação: ALLEANZA D.S.K. FULL, ALLEANZA NITRO
*Crescimento e desenvolvimento vegetativo: ALLEANZA V FULL, ALLEANZA K