Milho:
*Pré e pós plantio da cultura: ALLEANZA D, ALLEANZA D TRANS
*Pré-Florada e pendoamento: ALLEANZA D.S.K. FULL
*No início do desenvolvimento: ALLEANZA SOLUBLE PHÓS
*Aplicação na fase de crescimento: ALLEANZA ORGANIC F