Soja:
*Antes do plantio: ALLEANZA ORGANIC, ALLEANZA ORGANIC F, ALLEANZA SOLO
*Crescimento e desenvolvimento vegetativo: ALLEANZA V FULL, ALLEANZA K
*Crescimento vegetativo e pré-florada: ALLEANZA I.R.S. , ALLEANZA VITA, ALLEANZA SPECIAL BORO, ALLEANZA SPECIAL COBRE
*Aplicações de 20 – 30 DAE e antes do florescimento: ALLEANZA SOLUBLE PHÓS