Tomate:
*Pré e pós-plantio da cultura: ALLEANZA D, ALLEANZA D TRANS
*Antes do plantio ou a partir do plantio e pré-florada: ALLEANZA SPECIAL ULTRA CaB
*Crescimento e desenvolvimento vegetativo: ALLEANZA V FULL, ALLEANZA K
*A partir do transplante: ALLEANZA ORGANIC, ALLEANZA ORGANIC F, ALLEANZA SOLO