
Trigo:

*Pré e pós-plantio da cultura: ALLEANZA D, ALLEANZA D TRANS

*Plantio e 20 DAE: ALLEANZA CGA, ALLEANZA CGA PLUS, ALLEANZA V POWER,

ALLEANZA SPECIAL CoMo, ALLEANZA SPECIAL Mol

*Pré-Florada e pendoamento: ALLEANZA D.S.K. FULL

*Crescimento vegetativo e no período reprodutivo: ALLEANZA I.R.S. , ALLEANZA VITA, ALLEANZA SPECIAL COBRE