figure
	img(src="/images/produtos/lotus.png")
	figcaption ALLEANZA CGA PLUS
	h1(class="texto ocultar")  Fertilizante complexado, com elevada concentração de Extrato de Algas ASCOPHYLLUN NODOSUM em sua formulação e Carbono Orgânico e Aminoácidos, a qual confere um poderoso enraizamento das plantas e eleva o potencial de Germinação, quando inoculado a sementes; Potencializa a Fixação Biológica e tem como um extra em sua fórmula os elementos NiCoMo, responsáveis diretamente pelo start inicial do potencial vegetativo das sementes, além de promover o crescimento celular, sua formulação é fechada 100% com Matérias Primas sem adição de água na fórmula.