figure
	img(src="/images/produtos/lotus.png")
	figcaption ALLEANZA CGA
	h1(class="texto ocultar")  Fertilizante complexado, com elevada concentração de Extrato de Algas ASCOPHYLLUN NODOSUM em sua formulação e Carbono Orgânico e Aminoácidos, a qual confere um poderoso enraizamento das plantas e eleva o potencial de Germinação, quando inoculado a sementes; Promove crescimento celular, formulação fechada 100% com Matérias Primas sem adição de água na fórmula.