figure
	img(src="/images/produtos/lotus.png")
	figcaption ALLEANZA D TRANS.
	h1(class="texto ocultar")  Fertilizante Multifuncional rico em Carbono Orgânico e aminoácidos, com alta concentração de Fósforo e Manganês, Auto regulador de PH para uso de Herbicidas; Promove o efeito Tamponante e eleva a Condutividade Elétrica da Água e tem como efeito direto o poder de penetrar na cerosidade da folha auxiliando na translocação diretamente para Raízes.