figure
	img(src="/images/produtos/d.png")
	figcaption ALLEANZA D
	h1(class="texto ocultar") Fertilizante Multifuncional rico em Carbono Orgânico e aminoácidos com alta concentração de Fosforo, Auto regulador de PH para uso de Herbicidas, promove o efeito Tamponante e eleva a Condutividade Elétrica da água e tem como efeito direto o poder de penetrar na cerosidade da folha auxiliando na translocação diretamente para Raízes.