figure
	img(src="/images/produtos/galoes/IMG-20181024-WA0019.jpg")
	figcaption ALLEANZA D.S.K.FULL
	h1(class="texto ocultar") Fertilizante com alto poder de assimilação pelas culturas, devido a sua formula única de balanceamento a qual promove uma rápida reposição de potássio e enxofre corrigindo, imediatamente, a deficiência nutricional, aumentando assim o peso específico; °Brix, o ATR e os Carboidratos de frutos e grãos, contém baixo índice salino podendo ser aplicado em cultivos intensivos sensíveis a salinidade, sua alta concentração de Enxofre permite utilizar o produto como um poderoso e eficaz desalojante de insetos em qualquer estágio de vida.