figure
	img(src="/images/produtos/lotus.png")
	figcaption ALLEANZA K
	h1(class="texto ocultar") Fertilizante composto por Aminoácidos e Carbono Orgânico, com a função exclusiva de promover vasodilatação e “destravar” as plantas, as quais se encontram em dormência, sobre um forte estresse climático ou fito tóxico, após uma infestação por bactérias, fungos e pragas.