figure
	img(src="/images/produtos/lotus.png")
	figcaption ALLEANZA LÓTUS.
	h1(class="texto ocultar")  Fertilizante complexado, com elevada concentração de Extrato de Algas ASCOPHYLLUN NODOSUM em sua formulação, Carbono Orgânico e Aminoácidos, os quais promovem uma antecipação e aceleração da Florada permitindo maior concentração de botões florais por planta; Eleva o potencial de pegamento floral, potencializa e promove o crescimento celular. Sua formulação é fechada 100% com Matérias Primas sem adição de água na fórmula.