figure
	img(src="/images/produtos/galoes/IMG-20181024-WA0019.jpg")
	figcaption ALLEANZA NITRO
	h1(class="texto ocultar") Fertilizante Nitrogenado, com diferentes fontes de N formulado com Ácidos Húmicos e Fúlvicos, proveniente da Leonardita a qual estabiliza e aumenta a eficiência do Nitrogênio, evitando assim, as perdas por volatilização e/ou lixiviação, tornando esse produto superior aos nitrogenados granulados.