figure
	img(src="/images/produtos/lotus.png")
	figcaption ALLEANZA ORGANIC
	h1(class="texto ocultar") Fertilizante formulado com ácidos húmicos e fúlvicos, provenientes da matéria-prima  leonardita,  a qual tem como características as maiores concentrações de AH e AF do mercado mundial; Produto altamente solúvel em toda faixa de pH útil (2 a 12), aumenta a CTC e a microbiota do solo; Favorece a estrutura do solo promovendo uma melhor condição para as raízes, aumentando o poder de absorção e retenção de água e melhorando a aeração; Estimula a captação de nutrientes retidos no solo, pelas raízes e radicelas.