figure
	img(src="/images/produtos/d.png")
	figcaption ALLEANZA SOLARE
	h1(class="texto ocultar") Fertilizante formulado com base no Carbonato de Cálcio Nano particulado, com características (Lime Stone), o qual tem o poder quando aplicado na superfície da folha de refletir os raios Ultravioleta e Infravermelho, permitindo assim, a passagem da luz benéfica a produção de Clorofila e ser totalmente absorvida pela planta; Promove um efeito de Proteção Solar e reduz o Estresse solar bem como o Hídrico pois permite que a planta necessite 25% menos água quando protegida com essa tecnologia.