figure
	img(src="/images/produtos/lotus.png")
	figcaption ALLEANZA SOLO
	h1(class="texto ocultar")  Fertilizante formulado, especialmente, para os solos com grande necessidade de resposta rápida, para as culturas, em sua fórmula com Nitrogênio, Potássio, ácidos húmicos e fúlvicos, provenientes da matéria-prima  Leonardita,  a qual tem como características as maiores concentrações de AH e AF do mercado mundial; Produto altamente solúvel em toda faixa de pH útil (2 a 12), aumenta a CTC e a microbiota do solo; Favorece a estrutura do solo, promovendo uma melhor condição para as raízes, aumentando o poder de absorção e retenção de água; Melhora a aeração e estimula a captação de nutrientes retidos no solo, pelas raízes e radicelas.