figure
	img(src="/images/produtos/d.png")
	figcaption ALLEANZA SPECIAL NiCoMo
	h1(class="texto ocultar") Possui baixo índice salino (IS-4,0) e é compatível com inoculantes e defensivos recomendados para o tratamento de sementes das culturas agrícolas; Devido a sua formulação concentrada, possibilita o uso de baixas doses do produto no tratamento de semente; Potencializa a fixação biológica de Nitrogênio (FBN) e proporciona maior uniformidade do estande de plantas no campo; Aumenta o desenvolvimento do sistema radicular e das radicelas absorventes; Formulação líquida com tecnologia de nanopartículas, facilitando o manuseio e a aplicação dos produtos e matérias-primas de excelente qualidade (não ocorre entupimento dos filtros e bicos dos pulverizadores); Possui Cobalto (Co), Molibdênio (Mo) e Níquel (Ni) na forma de óxido, que libera gradativamente os nutrientes, aumentando o aproveitamento pelas plantas e não ocasionando sintomas de fitotoxidez; Formulação com alta concentração de Cobalto, Molibdênio e Níquel.