figure
	img(src="/images/produtos/lotus.png")
	figcaption ALLEANZA SPECIAL CoMo
	h1(class="texto ocultar")  Possui baixo Índice Salino (IS-4,2) e é compatível com inoculantes e defensivos recomendados para o tratamento de sementes das culturas agrícolas; Devido a sua formulação concentrada, possibilita o uso de baixas doses do produto, no tratamento de semente; Potencializa a Fixação Biológica de Nitrogênio (FBN) e proporciona maior uniformidade do estande de plantas, no campo; Formulação líquida com tecnologia de nanopartículas, facitando o manuseio e a aplicação dos produtos e matérias-primas de excelente qualidade (não ocorre entupimento dos filtros e bicos dos pulverizadores); Possui Cobalto (Co) e Molibdênio (Mo) na forma de óxido, que libera gradativamente os nutrientes, aumentando o aproveitamento pelas plantas e não ocasionando sintomas de fitotoxidez; Formulação com alta concentração de Cobalto e Molibdênio.