figure
	img(src="/images/produtos/d.png")
	figcaption ALLEANZA SPECIAL Mg
	h1(class="texto ocultar") Não é necessária a incorporação do produto no solo. Sua percolação é de até 25 cm, variando conforme as condições do clima e do solo; Fácil aplicação (via barra, pivô, aspersão, gotejamento etc.) e rápida absorção do produto pelas plantas; Suas partículas são extremamente pequenas e uniformes, ampliando seu contato com a superfície do solo e com o sistema radicular,  aumentando a solubilização e absorção dos nutrientes pelas plantas; Formulação líquida com tecnologia de nanopartículas, facilitando o manuseio e a aplicação dos produtos, e matérias-primas de excelente qualidade (não ocorre entupimento dos filtros e bicos dos pulverizadores); Contém alta concentração de nutrientes, reduzindo a dose aplicada e os custos operacionais com transporte e armazenamento de produtos; Possui Magnésio (Mg) na forma de hidróxido, que libera gradativamente o nutriente, aumentando o aproveitamento pelas plantas e não ocasionando sintomas de fitotoxidez; Formulação com alta concentração de Magnésio.