figure
	img(src="/images/produtos/d.png")
	figcaption ALLEANZA SPECIAL Mn
	h1(class="texto ocultar") Apresenta excelente compatibilidade de mistura no tanque; Suas partículas são extremamente pequenas e uniformes, ampliando seu contato com a superfície do solo e com o sistema radicular, aumentando a solubilização e absorção dos nutrientes pelas plantas; Formulação líquida com tecnologia de nanopartículas, facilitando o manuseio e a aplicação dos produtos e matérias-primas de excelente qualidade (não ocorre entupimento dos filtros e bicos dos pulverizadores); Contém alta concentração de nutrientes, reduzindo a dose aplicada e os custos operacionais com transporte e armazenamento de produtos; Possui Manganês (Mn) na forma de carbonato, que libera gradativamente o nutriente, aumentando o aproveitamento pelas plantas e não ocasionando sintomas de fitotoxidez; Formulação com alta concentração de Manganês.