figure
	img(src="/images/produtos/lotus.png")
	figcaption ALLEANZA V FULL
	h1(class="texto ocultar") Fertilizante composto por Macro e Micronutrientes enriquecido com aminoácidos e Carbono Orgânico, com a função de revitalizar e recuperar a planta, após alguma injúria ou Estresse, por clima ou Fito toxidez e de garantir todos nutrientes essenciais, em níveis adequados, para fortalecimento da planta.