figure
	img(src="/images/produtos/lotus.png")
	figcaption ALLEANZA V POWER
	h1(class="texto ocultar")  Fertilizante complexado, com elevada concentração de Extrato de Algas ASCOPHYLLUN NODOSUM em sua formulação, Carbono Orgânico e Aminoácidos, a qual confere um poderoso enraizamento das plantas e eleva o potencial de germinação, quando inoculado a sementes; Promove crescimento celular, formulação fechada 100% com Matérias Primas sem adição de água na fórmula.