section#contato
  .row.infoContato(style="margin:0px;")
    //tem um erro aqui nessa parte
    //- .col-sm-6.map
    //-   div.Mapa
    //-     iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3822.1528233812583!2d-49.28813388557272!3d-16.6692342885127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935ef40851239df9%3A0xc66c9d5b05220e17!2zTWVnYSBSZWZyaWdlcmHDp8Ojbw!5e0!3m2!1spt-BR!2sbr!4v1494960342867" frameborder="0" style="border:0" allowfullscreen='')
    .col-sm-3
    .col-sm-6
      form(method="POST",action="/", class="form-login", id="form-contato")
        //- div(class="form-group formRadio")
        //-   input(type='radio', name='opcoes', value='sugestao', checked)
        //-   label Sugestões
        //-   input(type='radio', name='opcoes', value='reclamacao')
        //-   label Reclamações
        //-   input(type='radio', name='opcoes', value='duvidas')
        //-   label Dúvidas
        div(class="form-group")
          label Nome:
          input(type="text", class="form-control nome", placeholder="Nome", name="nome", required)
        div(class="form-group form-50")
          label E-mail:
          input(type="email", class="form-control email", placeholder="E-mail", name="email", required)
        div(class="form-group form-50")
          label Telefone:
          input(type="tel", class="form-control telefone", placeholder="Telefone", name="telefone", required)
        div(class="form-group form-50")
          label Cidade:
          input(type="text", class="form-control cidade", placeholder= "Cidade", name= "cidade", required)
        div(class="form-group form-50")
          label Estado:
          input(type="text", class="form-control estado", placeholder="Estado", name="estado", required)
        div(class="form-group")
          label Assunto:
          input(type="text", class="form-control assunto", placeholder="Assunto", name="assunto", required)
        div(class="form-group")
          label Mensagem:
          textarea(name='tMsg', cols='40', rows='4', class="form-control mensagem", placeholder='Deixe aqui sua mensagem.')
        button(type="submit", class="btn btn-primary btn-block botaoEnviar") ENVIAR
    .col-sm-3
