block styles
	//- link(rel='stylesheet', href='/css/mylibs/noticias/noticia.css')
block scripts
	script(src="/js/mylibs/noticia.js")
	if Data
		//- div.masthead
		//- 	h3.text-muted Notícias
		table(class="table")
			thead
				//- tr
				//- 	th ID:
				//- 	th Numero:
			tbody
				each valor in Data
					//- -console.log('Começa aqui')
					//- - console.log(dadosNumero)
					if valor.numero == dadosNumero
						.col-sm-6.not-principal
							img.img-responsive.img-maior.clicknoticia(src=""+valor.linhas[1].conteudo, name=""+valor.numero)
						.col-sm-6.not-principal#not-princ
							.container-not-principal.clicknoticia(name=""+valor.numero)
								h1.h1-not #{valor.linhas[0].conteudo}
								.back
									h1.conteudo-not  #{valor.linhas[2].conteudo}
									spam(style="padding: 0% 2%;")
										a(href="#") [...]
						.col-sm-8.linha-not
					else	
						.col-sm-6.not-secund
							.container-not.clicknoticia(name=""+valor.numero)
								each linhas,index in valor.linhas
									if index <3
										if linhas.tipo == "imagem"
											.imagem
												img.img-responsive.img-menores(src=""+linhas.conteudo)
										else if linhas.tipo == "texto"
											//- .row.texto
												//- h1 #{linhas.conteudo}
										else
											.titulo
												h1.h1-not #{linhas.conteudo}
		.row.linhaPaginacao(style="width:100%;")
			- var resto = qnt%5;
				nav#pagDicas(aria-label='Page navigation', style="margin:auto;")
					ul.pagination
						if resto
							if id > 3
								div
									li.page-item
										a.page-link(href="/noticias/"+(parseInt(id)-1)) <<
								- for(var i=parseInt(id)-2; i <= parseInt(qnt/5)+1 && i <= parseInt(id)+2; i++ )
									if i == id
										li.page-item.active
											a.page-link(href="/noticias/"+i) #{i}
									else
										li.page-item
											a.page-link(href="/noticias/"+i) #{i}
								if parseInt(qnt/5)+1 != id
									li.page-item
										a.page-link(href="/noticias/"+(parseInt(id)+1)) >>
							else
								- for(var i=1; i<=(qnt/5)+1 && i <= 5; i++ )
									if i == id
										li.page-item.active
											a.page-link(href="/noticias/"+i) #{i}
									else
										li.page-item
											a.page-link(href="/noticias/"+i) #{i}
								div
									li.page-item
										a.page-link(href="/noticias/"+(parseInt(id)+1)) >>
						else
							if id > 3
								div
									li.page-item
										a.page-link(href="/noticias/"+(parseInt(id)-1)) <<
								- for(var i=parseInt(id)-2; i <= parseInt(qnt/5)&& i <= parseInt(id)+2; i++ )
									if i == id
										li.page-item.active
											a.page-link(href="/noticias/"+i) #{i}
									else
										li.page-item
											a.page-link(href="/noticias/"+i) #{i}
								if parseInt(qnt/5) != id
									li.page-item
										a.page-link(href="/noticias/"+(parseInt(id)+1)) >>
							else
								- for(var i=1; i<=qnt/5 && i <= 5; i++ ) 
									if i == id
										li.page-item.active
											a.page-link(href="/noticias/"+i) #{i}
									else
										li.page-item
											a.page-link(href="/noticias/"+i) #{i}
								if parseInt(qnt/5) != id
									li.page-item
										a.page-link(href="/noticias/"+(parseInt(id)+1)) >>