block styles
	if Data
		table(class="table",style="margin:0px;" )
			thead
			tbody
				div.noti
					each valor in Data
						//- h1= valor
						if valor.tipo == "imagem"
							.row.imagem.column
								.row.noticia-imagem
									.col-sm-3
									.col-sm-6
										img.img-fluid.imgxl(src=""+valor.conteudo)
									.col-sm-3
						else if valor.tipo == "texto"
							.row.texto.column.column-text
								.row.noticia-text
									p.estiloP.h1_servico #{valor.conteudo}
						else
							.row.titulo.column
								.row.noticia-titulo
									.col-sm-12.col_tit_not
										h1.h1-xl #{valor.conteudo}
										svg.icon.icon-calendar
											use(xlink:href='#icon-calendar')
										p.dataReal #{DataReal}
block scripts
	script(src="/js/mylibs/noticiaxl.js")