section#culturas
	.row(style="margin: 0px;padding: 15px;")
		.col-sm-3.cultura(title="CITROS")
			.plantacao-citros
			a(href="/cultura/citros").fruto.citros
		.col-sm-3.cultura(title="ARROZ")
			.plantacao-arroz
			a(href="/cultura/arroz").fruto.arroz
		.col-sm-3.cultura(title="ALGODÃO")
			.plantacao-algodao
			a(href="/cultura/algodao").fruto.algodao
		.col-sm-3.cultura(title="BATATA")
			.plantacao-batata
			a(href="/cultura/batata").fruto.batata
	.row(style="margin: 0px;padding: 15px;")
		.col-sm-3.cultura(title="TRIGO")
			.plantacao-trigo
			a(href="/cultura/trigo").fruto.trigo
		.col-sm-3.cultura(title="MILHO")
			.plantacao-milho
			a(href="/cultura/milho").fruto.milho
		.col-sm-3.cultura(title="CANA DE AÇÙCAR")
			.plantacao-cana
			a(href="/cultura/cana").fruto.cana
		.col-sm-3.cultura(title="SOJA")
			.plantacao-soja
			a(href="/cultura/soja").fruto.soja
	.row(style="margin: 0px;padding: 15px;")
		.col-sm-3.cultura(title="TOMATE")
			.plantacao-tomate
			a(href="/cultura/tomate").fruto.tomate
		.col-sm-3.cultura(title="CAFÉ")
			.plantacao-cafe
			a(href="/cultura/cafe").fruto.cafe
		.col-sm-3.cultura(title="PASTAGEM")
			.plantacao-pastagem
			a(href="/cultura/pastagem").fruto.pastagem
		.col-sm-3.cultura(title="FEIJÃO")
			.plantacao-feijao
			a(href="/cultura/feijao").fruto.feijao
