extends layout
block content
	include partials/menu
	include index	
	include quemsomos
	//- include parallax/parallax1	
	include produtos	
	//- include parallax/parallax2
	include culturas
	include contato
	include partials/footer2
	include iconSVG