section#entrada
	.textoprincipal
		.container.text-center
			.text-principal
				.align
					h2.h2-principal A ALLEANZA AGROCIÊNCIA TEM O COMPROMISSO COM O QUÊ HÁ DE MAIS INOVADOR, NO MUNDO DO AGRONEGÓCIO.
	img.img-responsive.img-inicial(src="images/soja1.png")
	//- .seta-scroll
	//- 	a.scroll(href="#quemsomos" class="scroll its-smooth")