doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title= title
		link(rel='stylesheet', href='/css/libs/bootstrap.min.css')
		link(rel='stylesheet', href='/css/libs/booststrap-aux.css')
		link(rel='stylesheet', href='/css/libs/bootstrap-social.css')
		link(rel='stylesheet', href='/css/mylibs/alert.css')
		link(rel='stylesheet', href='/css/mylibs/loading.css')
		link(rel='stylesheet', href='/css/mylibs/index.css')
		link(rel='stylesheet', href='/css/mylibs/menu.css')
		link(rel='stylesheet', href='/css/mylibs/quemsomos.css')
		link(rel='stylesheet', href='/css/mylibs/parallax.css')
		link(rel='stylesheet', href='/css/mylibs/produtos.css')
		link(rel='stylesheet', href='/css/mylibs/culturas.css')
		link(rel='stylesheet', href='/css/mylibs/contato.css')
		link(rel='stylesheet', href='/css/mylibs/footer2.css')
		link(rel='stylesheet', href='/css/mylibs/media/mediaQuery.css')
		link(rel='stylesheet', href='/css/mylibs/fonts.css')
		link(rel='stylesheet', href='/css/style.css')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300,300italic', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		block style


	body
		block content

	//- script(src="/js/jquery-3.1.1.min%20.js")
	script(src='//code.jquery.com/jquery-3.2.1.min.js')
	script(src="/js/bootstrap.min.js")
	script(src="/js/mylibs/funcoes.js")
	script(src="/js/mylibs/validacao/contato.js")
	script(src="/js/mylibs/contato.js")
	script(src="/js/jquery.touchSwipe.min.js")
	block jscript