section#mapa.row
	#container-left.col
		//- #hovered-region
		//- 	| LAST HOVERED REGION: 
		//- 	span ??
		//- #clicked-region
		//- 	| LAST CLICKED REGION: 
		//- 	span ??
		#brazil-map
	#container-rigth.col
		table#table(class="table table-striped")
			thead
				//- tr
				//- 	form(name="formBuscar")
				//- 		th Nome:
				//- 			input(name="nome", inputonchange="this.value = this.value.toUpperCase()")
				//- 		th UF:
				//- 			input(name="uf")
				//- 		th Telefone:
				//- 			input(name="telefone")
				//- 		th Data:
				//- 		th
							//- button(id="buscar") Buscar
			tbody#tbody
				//- each valor in lista
						//- td #{valor.nome} 
						//- td
							//- a(href="/painel/parceiros/"+(valor._id), class="btn btn-success")
							//- 	svg.icon.icon-plus
							//- 		use(xlink:href='#icon-plus')
//- #position