extends layout
block content
	link(rel='stylesheet', href='/css/mylibs/noticias.css')
	include partials/menu
	section#noticias.container-fluid
		//- .row
		//- 	.col-sm-12.col_tit_not
		//- 		h1.h1_noticias NOTÍCIAS
		.row(style="width:100%; margin: auto;")
			include corpo
	include partials/footer2
	//- section#noticias.container-fluid
	//- 	.row
	//- 		.col-sm-12.col_tit_not
	//- 			h1.h1_servico NOTÍCIAS
	//- 	.row(style="width:100%; margin: auto;")
	//- 		.col-sm-6.not-principal
	//- 			img.img-responsive.img-maior(src="images/noticias/not1.png")
	//- 		.col-sm-6.not-principal#not-princ
	//- 			.container-not-principal
	//- 				h1.h1-not COMO PROCEDER COM AUXÍLIO DOENÇA APÓS CONTRATAR O ADVOGADO?
	//- 				.back
	//- 					h1.conteudo-not A 1.ª Turma do TRF da 1.ª Região deu parcial provimento à apelação de um trabalhador contra sentença que negou o pedido de desaposentação. Agora, o requerente vai receber o benefício mais vantajoso e as parcelas atrasadas. O autor entrou com o processo na Justiça Federal de primeiro grau contra o Instituto Nacional do Seguro Social (INSS)
	//- 					spam
	//- 						a(href="#") [...]
	//- 					h1.data-not 18/01/2018
	//- 		.col-sm-8.linha-not
	//- 		.col-sm-6.not-secund
	//- 			.container-not
	//- 				h1.h1-not COMO PROCEDER COM AUXÍLIO DOENÇA APÓS CONTRATAR O ADVOGADO?
	//- 				img.img-responsive.img-menores(src="images/noticias/not2.png")
	//- 		.col-sm-6.not-secund
	//- 			.container-not
	//- 				h1.h1-not COMO PROCEDER COM AUXÍLIO DOENÇA APÓS CONTRATAR O ADVOGADO?
	//- 				img.img-responsive.img-menores(src="images/noticias/not3.png")
	//- 		.col-sm-6.not-secund
	//- 			.container-not
	//- 				h1.h1-not COMO PROCEDER COM AUXÍLIO DOENÇA APÓS CONTRATAR O ADVOGADO?
	//- 				img.img-responsive.img-menores(src="images/noticias/not4.png")
	//- 		.col-sm-6.not-secund
	//- 			.container-not
	//- 				h1.h1-not COMO PROCEDER COM AUXÍLIO DOENÇA APÓS CONTRATAR O ADVOGADO?
	//- 				img.img-responsive.img-menores(src="images/noticias/not5.png")
