extends layout
block content
	link(rel='stylesheet', href='/css/mylibs/noticias.css')
	include partials/menu
	include iconSVG
	section#noticiasxl
		.row(style="width:100%; margin: auto;")
			include corpoxl
	include partials/footer2