extends layout
block style
	link(rel='stylesheet', href='/css/mylibs/mapa.css')
	link(rel='stylesheet', href='/css/libs/mapa.css', type='text/css', media='screen')
block content
	include partials/menu
	include mapa
block jscript
	script(src='/js/jquery-jvectormap-1.2.2.min.js', type='text/javascript')
	script(src='/js/brazil.js', type='text/javascript')
	script(src='/js/mapaup.js', type='text/javascript')
	script(src='/js/mapResize.js', type='text/javascript')