section#produtos
	.marcadagua
	h1.abrv-pan PAN
	.produtos-pan
		.row.produtos
			.col-lg-12.prim-fil
				a(href="/produtos/lotus")
					img.img-produto.lotus.img-fluid.menor(src="images/produtos/lotus.png")
				a(href="/produtos/vita")
					img.img-produto.vita.img-fluid.menor(src="images/produtos/vita.png")
				a(href="/produtos/dskfull")
					img.img-produto.DSK-FULL.img-fluid.menor(src="images/produtos/DSK-FULL.png")
				a(href="/produtos/secta")
					img.img-produto.secta.img-fluid.menor(src="images/produtos/secta.png")
			.col-lg-12.sec-fil
				a(href="/produtos/organicf")
					img.img-produto.organic-f.img-fluid.maior(src="images/produtos/organic-f.png")
				a(href="/produtos/d")
					img.img-produto.d.img-fluid.maior(src="images/produtos/d.png")
				a(href="/produtos/cgaplus")
					img.img-produto.cga-plus.img-fluid.maior(src="images/produtos/cga-plus.png")
				a(href="/produtos/vpower")
					img.img-produto.v-power.img-fluid.maior(src="images/produtos/v-power.png")
		//- .row.produtos2
		//- 	.col-lg-12
		//- 		a(href="#")
		//- 			img.prod2.organic-f.img-fluid(src="images/produtos/organic-f.png")
		//- 		a(href="#")
		//- 			img.prod2.d.img-fluid(src="images/produtos/d.png")
		//- 		a(href="#")
		//- 			img.prod2.cga-plus.img-fluid(src="images/produtos/cga-plus.png")
		//- 		a(href="#")
		//- 			img.prod2.v-power.img-fluid(src="images/produtos/v-power.png")
	h1.pan PROGRAMA ALLEANZA DE NUTRIÇÃO E PROTEÇÃO VEGETAL