section#quemsomos
	.row.img
		//- img(src="images/imgscarrosel/tomate.png")
		//- .barra
		//- 	img.img-fluid(src="images/qs.svg")
		//- .barra1
		//- .barra2
		h1.titulo-quemsomos QUEM SOMOS
		h1.primparagrafo A Alleanza Agrociência, empresa brasileira com Unidade de fabricação, em Jaboticabal-SP é composta por três escritórios regionais, sendo eles em Ji Paraná – RO, responsável por atender o norte e nordeste do Brasil e o estado do Mato Grosso, Campo Grande - MS, responsável pela região centro sul do Brasil e Vitória – ES, responsável pela região sudeste do país e o sul da BA.É uma empresa que atua em inovação tecnológica, na área de nutrição e proteção vegetal no Brasil, com parcerias extremamente voltadas para alta tecnologia e qualidade no ramo de nutrição e proteção vegetal. Temos como parceiro comercial, na formulação e fabricação de produtos a Hydromol, empresa que foi fundada oficialmente em 1996, mas com uma bagagem de mais de 50 anos de experiência acumulada pelos seus idealizadores.
		h1.segparagrafo A Hydromol é uma multinacional, presente em mais de 30 países destinada à fabricação de produtos de proteção vegetal. Possui produtos com alta tecnologia e 5 patentes agrícolas; disponibiliza insumos avançados, para as principais culturas do Agronegócio em nosso País. Desde a sua fundação tem uma forte vocação em negócios ligados à agricultura, através de fertilizantes, nutrientes especiais, proteção de cultivos e sementes. O Core Business representa para a Alleanza Agrociência um aumento de riqueza em Know How.
		h1.tercparagrafo Hoje, a Alleanza Agrociência está essencialmente presente em dois negócios com forte crescimento: Proteção de Cultivos e Nutrição de Plantas. Fazemos fortes investimentos em pesquisas, tecnologia, aliados a alta qualidade e diferenciação em produtos e serviços. Em todas as fases da produção agrícola, somos motivados pela nossa dedicação para melhorar a saúde das plantas e aumentar a produtividade das culturas, oferecendo aos nossos clientes as informações, produtos e ferramentas de que necessitam, para resolver problemas e sustentar a lucratividade.
		h1.titulo MISSÃO
		h1.quartparagrafo Nossa missão é levar ao produtor brasileiro soluções inovadoras de alta qualidade e tecnologia, na área de nutrição e proteção vegetal, mantendo sempre a satisfação dos clientes, que é o nosso maior patrimônio.
		h1.titulo VISÃO
		h1.quintparagrafo “Com uma visão estratégica bem definida, aliada a valores como excelência, rigor e profissionalismo, a Alleanza Agrociência contribui ativamente para a sustentabilidade do mundo agrícola. A visão da Alleanza Agrociência é expandir, continuamente, nossa compreensão das práticas mais inovadoras, da produção agrícola moderna, com o objetivo de sempre servir como uma fonte confiável de conhecimento para nossos clientes.”