extends ../layout
block links
	link(rel='stylesheet', href='/css/mylibs/admin/parceiros.css')
block content
	h1 Atualizar Parceiros
	hr
	br
	if messages.erro
		div(class="alert alert-danger")
			each msg in messages.erro
				b= msg
				br
	form(method="POST", action="/painel/parceiros/edit/"+(model._id), role="form", enctype="multipart/form-data")
		div(class="form-group custom-file")
			input#customFileParceiros.custom-file-input(type='file', name="image", value="imagems")
			label.custom-file-label(for='customFileParceiros') Escolha uma foto
			img(src="/images/parceiros/"+(model.image))
		div(class='form-group')
			label Nome
			input(type="text", class="form-control", name="nome", value=""+(model.nome || ''), placeholder="Nome" required)
		div(class='form-group')
			label Telefone
			input(type="text", class="form-control", name="telefone", value=""+(model.telefone || ''), placeholder="Telefone" required)
		div(class='form-group')
			label Estado 
			select.form-control#ufCad(name="uf" title="Selecione o estado")
		div(class='form-group')
			label Cidade
			select.form-control#ufCidade(name="cidade" title="Selecione a cidade")
		button(type="submit", class="btn btn-success") Salvar

	br
	br
	a(href="/painel/parceiros") Voltar
block scripts
	script(src="/js/mylibs/admin/opUfCidade.js")