extends ../layout
block links
	link(rel='stylesheet', href='/css/mylibs/admin/parceiros.css')
block content
	h1 Parceiros
	a(href='/painel/parceiros/create', class='btn btn-success') Cadastrar
	br
	if messages.erro
		div(class="alert alert-danger")
			p #{messages.erro}
	if messages.info
		div(class="alert alert-success")
			p #{messages.info}
	if lista.length > 0
		table#table(class="table table-striped")
			thead
				tr
					form(name="formBuscar")
						th Nome:
							input(name="nome", inputonchange="this.value = this.value.toUpperCase()")
						th UF:
							input(name="uf")
						th Telefone:
							input(name="telefone")
						th Data:
						th
							//- button(id="buscar") Buscar
			tbody#tbody
				each valor in lista
					tr
						td #{valor.nome} 
						td #{valor.uf}
						td #{valor.telefone}
						td #{moment(valor.data_cad).format('DD/MM/YYYY')}
						td
							//- a(href="/painel/parceiros/show/"+(valor._id), class="btn btn-info")
							//- 	svg.icon.icon-search
							//- 		use(xlink:href='#icon-search')
							a(href="/painel/parceiros/edit/"+(valor._id), class="btn btn-primary")
								svg.icon.icon-pencil
									use(xlink:href='#icon-pencil')
							//- a(href="/painel/parceiros/"+(valor._id), class="btn btn-success")
							//- 	svg.icon.icon-plus
							//- 		use(xlink:href='#icon-plus')
	else
		p Nenhum registro encontrado!
block scripts
	script(src="/js/mylibs/admin/parceiros.js")
