
.wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 99998;
    background: rgba(0, 0, 0, 0.4);
}
.wrap aside.corpo {
    background: rgba(255, 255, 255, 0.7);
    width: 40%;
    height: 37%;
    margin: auto;
    top: 32%;
    position: relative;
}
section aside.corpo {
    /* background: blue; */
    height: 70%;
    padding: 0 1%;
}
.wrap aside.before {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 87%;
    position: relative;
    margin: auto;
    top: 7%;
}
.wrap aside.before span.imgBc {
    background: url(../../../images/logo/logo.png) no-repeat;
    width: 75px;
    height: 75px;
    background-position: 48% 22%;
    background-size: 84%;
    background-color: rgb(255, 255, 255);
    border-radius: 37px;
}
.wrap aside.before span {
    display: block;
    margin: auto;
    position: relative;
    text-align: center;
    top: 3%;
    color: rgb(255, 255, 255);
    font-size: 2em;
}
.wrap aside.before button.btn_Alert {
    background: rgba(126, 7, 14, 1);
    padding: 0.4em 1.4em;
    font-family: humnst;
    font-size: 1.4em;
    display: block;
    margin: auto;
    margin-top: 1%;
    color: rgb(255, 255, 255);
}
.fecharSim {
    margin-left: 25%;
    color: rgb(255, 255, 255);
    float: left;
}
.fecharNao {
    margin-right: 25%;
    color: rgb(255, 255, 255);
    float: right;
}
.fecharSim, .fecharNao {
    background: rgba(126, 7, 14, 1);
    padding: 0.7em 2em;
    font-family: humnst;
    font-size: 1.5em;
    display: block;
    /* margin: auto; */
    margin-top: 5%;
}