h1.titulo.timeR {
    margin: auto;
    font-size: 3em;
    color: white;
}
.noticia-imagem img {
    /* width: max-content; */
    margin: 0px auto;
    position: relative;
    display: block;
    max-width: 1200px;
    height: inherit;
    max-height: 400px;
}
.col.seguraInput {
    /* width: 7%; */
    max-width: max-content;
    margin: 0px auto;
}
#criar form {
    border: 1px solid black;
    border-radius: 2px;
    background: white;
    max-width: 1400px;
    margin: auto;
    transition: height 1s;
}
.row.noticia-texto {
    border-width: 1px;
    border-style: solid;
    margin: 5px;
}
.row.addFormato {
    margin: 5px 4px;
}

.addFormato button.btn.btn-default.btn-sm {
  margin: 1px 1px;
  transition: all .5s;
  color: #610000;
}
.row.noticia-imagem {
    /* border-width: 1px; */
    /* border-style: dotted; */
    /* margin: 5px; */
    width: 100%;
}
.row.noticia-titulo {
    margin: 5px;
    /* border-width: 1px; */
    /* border-style: dotted; */
    width: 100%;
}
.row.noticia-titulo h1 {
    margin: 0px auto;
}
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.column {
  /*   height: 150px;
  width: 150px; */
  /* float: left; */
  /* border: 2px solid #666666; */
  /* background-color: #ccc; */
  /* margin-right: 5px; */
  /* -webkit-border-radius: 10px; */
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  /* border-radius: 10px; */
  /* -webkit-box-shadow: inset 0 0 3px #000; */
  -ms-box-shadow: inset 0 0 3px #000;
  box-shadow: inset 0 0 0.2px #000;
  /* text-align: center; */
  /* cursor: move; */
  border: 2px dashed rgba(0, 0, 0, 0);
  }
.column>.row{
  /* cursor: move; */
}

.column header {
  color: #fff;
  text-shadow: #000 0 1px;
  box-shadow: 5px;
  padding: 5px;
  background: -moz-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
  background: -webkit-gradient(linear, left top, right top,
                               color-stop(0, rgb(0,0,0)),
                               color-stop(0.50, rgb(79,79,79)),
                               color-stop(1, rgb(21,21,21)));
  background: -webkit-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
  background: -ms-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
  border-bottom: 1px solid #ddd;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -ms-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
}
.column.over {
  border: 2px dashed #000;
}
.row.column {
    margin: 5px;
    position: relative;
    opacity: 1;
    transition: opacity 2s;
}
.row.column:hover{
  background-color: rgba(0, 0, 0, 0.08);
}
.row.addFormato {
    position: fixed;
    left: 0px;
    width: 50px;
    background: #ffffff;
    border: 1px solid #ab9f9f;
    border-radius: 3px;
    z-index: 1;
}
.addFormato .btn:focus, .addFormato .btn:hover {
    text-decoration: none;
    font-size: 1em;
}
.noticias .btn.btn-danger {
    position: absolute;
    right: 0px;
}
.estiloP{
/*   position: relative;
  margin: auto; */
}
#salvar-noticia {
    margin: auto;
}
button#buscar-noticia {
    height: 35px;
    border-radius: 5px 0px 0px 5px;
}

.busc {
    margin-left: auto;
}
.busc input {
    height: 35px;
    vertical-align: middle;
    width: 80px;
}
button.alterar-noticia.btn.btn-primary {
    margin: auto;
}

.row.save {
    width: max-content;
    margin: auto;
}
.estadoNoticia {
    left: 10%;
    /* display: block; */
    position: relative;
}