.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.timeR{
  font-family: "Times New Roman", Times, serif;
}
form.form-login {
    max-width: 500px;
    margin: 0px auto;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.masthead {
  font-size: 1.4em;
  /* background: #610000; */
  background: #5e1c1c; /* Old browsers */
  background: -moz-linear-gradient(top, #5e1c1c 0%, #602222 50%, #610000 51%, #610000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #5e1c1c 0%,#602222 50%,#610000 51%,#610000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #5e1c1c 0%,#602222 50%,#610000 51%,#610000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e1c1c', endColorstr='#610000',GradientType=0 ); /* IE6-9 */
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: rgba(255, 255, 255, 0.64);
    color: #610000;
}

.nav a {
    color: rgba(255, 255, 255, 0.75);
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    color: white;
}
.alert-server {
    position: absolute;
    width: 100%;
    top: -3em;
    transition: top .5s;
}

.alert-server h1 {
    /* background: green; */
    padding: 5px;
    margin: auto;
    font-size: 2em;
    display: block;
    width: max-content;
}