.form-group.custom-file {
    width: 50%;
    max-width: 300px;
    height: auto;
}
.form-group.custom-file img {
max-width: 98%;
    margin: 1%;
    min-width: 250px;
    min-height: 250px;
}

a.btn {
    position: relative;
    display: inline;
    vertical-align: middle;
    padding: 9px;
    margin: 3px;
}
.table td, .table th {
    padding: 0.45rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}