#menu{
    position: relative;
}
div#logomarca{
    display: none;
}
#logomarcaA{
    opacity: 1;
    position: relative;
}
div#logomarca{
    display: none;
}
/*#logomarcaA{
    opacity: 1;
}*/
section#algodao {
    /*background: url(../../../images/cultura/shutterstock_1088671796.jpg)no-repeat;*/
    position: absolute;
    height: 60%;
    width: 100%;
    background-size: cover;
    background-position: 100%;
}
section#algodao::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(../../../images/cultura/shutterstock_1088671796.jpg)no-repeat;
    opacity: .7;
    background-size: cover;
    background-position: 100%;
}
section#arroz {
    background: url(../../../images/cultura/plant-arroz.png)no-repeat;
    position: absolute;
    height: 60%;
    width: 100%;
    background-size: cover;
    background-position: 100%;
}
section#batata {
    background: url(../../../images/cultura/plant-batata.png)no-repeat;
    position: absolute;
    height: 60%;
    width: 100%;
    background-size: cover;
    background-position: 100%;
}
section#cafe {
    background: url(../../../images/cultura/plant-cafe.png)no-repeat;
    position: absolute;
    height: 60%;
    width: 100%;
    background-size: cover;
    background-position: 100%;
}
.col_tit_not {
    background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
    height: 75px;
    margin-top: 2%;
    color: white;
    /* opacity: 0.5; */
}
p.titulo{
    font-size: 2.5rem;
    margin-left: 10px;
    margin-bottom: 0px;
}
.listopc {
    background: #fffffff2;
    width: fit-content;
    padding: 10px;
    margin: 15px;
    border-radius: 2px;
    display: inline-block;
}

.row {
    margin: 0px;
}
/*  font-size: 2.5rem;
    margin-left: 10px;
    margin-bottom: 0px;
}*/
.etapa .col-sm-12{
    cursor: pointer;
}
.etapa .col-sm-12:hover{
    background: #29689a33;
}


.etapas {
    /* background: #f5f5ff7a; */
    display: inline-block;
    max-width: 700px;
    padding: 10px;
    margin: 15px;
}
.etapas h1{padding: 10px;}

div#etapa1 {

}

.produtoCultura img {
    max-width: 130px;
}
figcaption {
    max-width: 125px;
    font-size: 1em;
    text-align: center;
}
.row.infoProduto {
    background: #ffffffeb;
    border-radius: 1px 5px 5px 5px;
}
.prods.fundoBranco {
    background: #ffffffeb;
    /*padding: 5px;*/   
    border-radius: 5px 5px 0px 0px;
}
.ocultar{
    display: none;
}
.mostrar{
    display :block;
}
.mostrarEtapa{
    display :block;
}

.ocultarEtapa{
    display: none;
}
.row.produtoCultura {
    background: #ffffff4f;
}

.tituloEtapa h1{
    font-size: 2em;
    font-family: swissci;
    font-weight: bolder;
    font-size: 2em;
    background: rgb(62, 119, 78);
    color: white;
    width: 100%;
    text-align: center;
    background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(left, rgb(62, 119, 78) 0%,rgba(62, 119, 78,0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
    text-shadow: 0px 0px 1px rgb(62, 119, 78);
}