section#parallaxBar(data-speed='6', data-type='background')
	.container-fluid(style="padding:0px;")
		.text.text-center
			p SOLUÇÕES INOVADORAS DE ALTA QUALIDADE E TECNOLOGIA UNIDAS À SUSTENTABILIDADE 
		.barraparallax
			//- img.img-responsive(src="images/barraverde.png", style="left: -353px;width: 41%;position: absolute;")
			//- img.img-responsive(src="images/barraverdeinvertida.png", style="float: right; width: 42.4%;")