section#parallaxBar2(data-speed='8', data-type='background')
	.container-fluid(style="padding:0px;")
		.text2.text-center
			p ALLEANZA AGROCIÊNCIA É SINÔNIMO DE INOVAÇÃO, CONFIABILIDADE E QUALIDADE EM SEUS PRODUTOS E SERVIÇOS 