
section#contato .form-control {
    display: inline-block;    /* width: 80%; */
}

section#contato .form-50 {
    width: 50%;
    display: inline-block;
}

section#contato form.form-login {
    max-width: 100%;
}

section#contato .form-group {
    margin-bottom: 5px;
    font-size: 1.2rem;
}

section#contato .form-group.formRadio {
    text-align: center;
    font-size: 18px;
}

section#contato .form-group.formRadio label {
    margin: 0% 4% 0% 1%;
}
section#contato .form-group label{
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

section#contato input[type="radio"] {
    width: 16px;
    height: 16px;    /* margin: -14px 0px 0px; */
}

section#contato iframe {
    width: 100%;
    height: 385px;
    margin: auto;
    display: block;
}

.Mapa {
    border: 5px solid #50402e;
}

section#contato {
    background: repeating-linear-gradient(135deg, #6e5b47, #827160 1px, #fefefe 1px, #ffffff 1px);
    padding-top: 111px;
    border-bottom: 10px solid #215a41;
}
.botaoEnviar {
    width: 90px;
    font-size: 18px;
    background-color: transparent;
    border-color: white !important;
}

.botaoEnviar:hover {
    color: #fff;
    background-color: #33689a;
    border-color: #ffffff;
}

.map {
    padding-top: 5%;
}
.row.infoContato {
    position: relative;
    /* top: -30px; */
}