section#culturas {
    position: relative;
    padding-top: 115px;
}
.teste {
    position: absolute;
    line-height: 0; /* correção para IE (arg!) */
    width:0;
    height:0;
    border: solid;
    border-color: #ffffff69 #ffffff69 #ffffff69 #257852b8;
    /* border-color: #33689ab8 #00000069 #00000069 #33689ab8; */
    border-width: 0 170px 230px 240px;
}
/* .nome-cultura1{
    font-family: tt0009m_;
    font-size: 1.5em;;
    color: white;
    right: 65px;
    position: absolute;
    transform: rotate(138deg) scale(1) skew(1deg) translate(0px);
    -webkit-transform: rotate(320deg) scale(2) skew(1deg) translate(-36px);
    -moz-transform: rotate(138deg) scale(1) skew(1deg) translate(0px);
    -o-transform: rotate(138deg) scale(1) skew(1deg) translate(0px);
    -ms-transform: rotate(138deg) scale(1) skew(1deg) translate(0px);
} */
.nome-cultura{
    font-family: calibri;
    font-size: 1.5em;
    color: white;
    right: 65px;
    /* text-shadow: 1px 1px 1px white; */
    position: absolute;
    transform: rotate(138deg) scale(1) skew(1deg) translate(0px);
    -webkit-transform: rotate(320deg) scale(2) skew(1deg) translate(-36px);
    -moz-transform: rotate(138deg) scale(1) skew(1deg) translate(0px);
    -o-transform: rotate(138deg) scale(1) skew(1deg) translate(0px);
    -ms-transform: rotate(138deg) scale(1) skew(1deg) translate(0px);
}

.logoalleanza{
    position: absolute;
    width: auto;
    height: 100%;
    background: #33689a40;
}
.plantacao-algodao{
    background: url(../../images/cultura/plant-algodao.png) no-repeat;
    /* position: absolute; */
    height: 210px;
    background-size: 100%;
}
.plantacao-arroz{
    background: url(../../images/cultura/plant-arroz.png) no-repeat;
    /* position: absolute; */
    height: 210px;
    background-size: 100%;
}
.plantacao-batata{
    background: url(../../images/cultura/plant-batata.png) no-repeat;
    /* position: absolute; */
    height: 210px;
    background-size: 100%;
}
.plantacao-citros{
    background: url(../../images/cultura/plant-citrus.png) no-repeat;
    /* position: absolute; */
    height: 210px;
    background-size: 100%;
}
.plantacao-trigo{
    background: url(../../images/cultura/plant-trigo.png) no-repeat;
    /* position: absolute; */
    height: 210px;
    background-size: 100%;
}
.plantacao-milho{
    background: url(../../images/cultura/plant-milho2.png) no-repeat;
    /* position: absolute; */
    height: 210px;
    background-size: 100%;
}
.plantacao-cana{
    background: url(../../images/cultura/plant-cana.png) no-repeat;
    /* position: absolute; */
    height: 210px;
    background-size: 100%;
}
.plantacao-soja{
    background: url(../../images/cultura/plant-soja.png) no-repeat;
    /* position: absolute; */
    height: 210px;
    background-size: 100%;
}
.plantacao-tomate{
    background: url(../../images/cultura/plant-tomate.png) no-repeat;
    /* position: absolute; */
    height: 210px;
    background-size: 100%;
}
.plantacao-cafe{
    background: url(../../images/cultura/plant-cafe.png) no-repeat;
    /* position: absolute; */
    height: 210px;
    background-size: 100%;
}
.plantacao-pastagem{
    background: url(../../images/cultura/plant-pastagem.png) no-repeat;
    /* position: absolute; */
    height: 210px;
    background-size: 100%;
}
.plantacao-feijao{
    background: url(../../images/cultura/plant-feijao.png) no-repeat;
    /* position: absolute; */
    height: 210px;
    background-size: 100%;
}
.arroz{
    background: url(../../images/cultura/arroz-dir.png) no-repeat;
}
.batata{
   background: url(../../images/cultura/batata-dir.png) no-repeat;  
}
.algodao{
   /*background: url(../../images/cultura/algodao.png) no-repeat;*/
   background: url(../../images/cultura/algodao-esq.png) no-repeat;  
}
.citros{
   background: url(../../images/cultura/citrus-esq.png) no-repeat;
   background-size: cover; 
}
.trigo{
   background: url(../../images/cultura/trigo-esq.png) no-repeat;
   background-size: cover; 
}
.milho{
   background: url(../../images/cultura/milho-dir2.png) no-repeat;
   background-size: cover; 
}
.cana{
   background: url(../../images/cultura/cana-esq.png) no-repeat;
   background-size: cover; 
}
.soja{
   background: url(../../images/cultura/soja-dir.png) no-repeat;
   background-size: cover; 
}
.tomate{
   background: url(../../images/cultura/tomate-esq.png) no-repeat;
   background-size: cover; 
}
.cafe{
   background: url(../../images/cultura/cafe-dir.png) no-repeat;
   background-size: cover; 
}
.pastagem{
   background: url(../../images/cultura/pastagem-esq.png) no-repeat;
   background-size: cover; 
}
.feijao{
   background: url(../../images/cultura/feijao-dir.png) no-repeat;
   background-size: cover; 
}
.cultura{
/*    padding-left: 5px;
    padding-right: 5px;*/
    cursor: pointer;
}
.fruto{
    position: absolute;
    top: 0;
    width: 0;
    height: 210px;
    background-size: 300px;
    transition-timing-function: ease-in-out;
    transition: all 1s;
}
.cultura:hover .fruto{
    /*width: 100%;*/
    width: calc(100% - 10px);
}
/*.cultura:hover .direito{
    width: calc(100% - 30px);
}*/
/*.cultura:hover .plantacao-arroz, .cultura:hover .plantacao-algodao, .cultura:hover .plantacao-batata, .cultura:hover .plantacao-citros {
    opacity: 0.7;
}*/