/*@font-face {
    font-family: 'tt0009m_';
    src: url(../../fonts/fontes/tt0009m_.ttf);
}
@font-face {
    font-family: 'calibri';
    src: url(../../fonts/fontes/calibri.ttf);
}
@font-face {
    font-family: 'calibrib';
    src: url(../../fonts/fontes/calibrib.ttf);
}
@font-face {
    font-family: 'HelveticaCdLt_0';
    src: url(../../fonts/fontes/HelveticaCdLt_0.ttf);
}
@font-face {
    font-family: 'HelveticaCdLtObl';
    src: url(../../fonts/fontes/HelveticaCdLtObl.ttf);
}
@font-face {
    font-family: 'HelveticaNeueCE-Black_0';
    src: url(../../fonts/fontes/HelveticaNeueCE-Black_0.otf);
}
@font-face {
    font-family: 'MinionPro-Regular';
    src: url(../../fonts/fontes/MinionPro-Regular.otf);
}
@font-face {
    font-family: 'swissci';
    src: url(../../fonts/fontes/swissci.ttf);
}
@font-face {
    font-family: 'tt0010m_';
    src: url(../../fonts/fontes/tt0010m_.ttf);
}
@font-face {
    font-family: 'tt0173m_';
    src: url(../../fonts/fontes/tt0173m_.ttf);
}*/