/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding-top: 30px;
}
section#footer .row{
    margin: 0px;
}
section#footer .back{
    background: url(../../images/logomarca/logohor-svg-transp.svg)no-repeat;
    width: 100%;
    height: 235px;
    position: absolute;
    background-size: contain;
    background-position: center;
    margin-top: 3%;
}
section#footer hr{
    width: 80%;
    background-color: #fefefe78;
}
section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
ul.social-network{
    display: block;
    text-align: center;   
}
#footer {
    background: #685a4a !important;
}
#footer h5 {
    /* padding-left: 10px; */
    /* border-left: 3px solid #eeeeee; */
    /* padding-bottom: 6px; */
    /* margin-bottom: 20px; */
    color: #ffffff;
    text-align: center;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
    padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
    font-size:25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#footer ul.social li:hover a i {
    font-size:30px;
    margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
    margin: 5px;
    color:#ffffff;
    font-size: 1.3rem;
}
#footer ul.social li a:hover{
    color:#eeeeee;
}
#footer ul.quick-links li{
    /* padding: 3px 0; */
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
    display: inline-block;
}
/*#footer ul.quick-links li:hover{
    padding: 3px 0;
    margin-left:5px;
    font-weight:700;
}*/
#footer ul.quick-links li a i{
    margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998 !important;
}
.social-network a.icoInstagram:hover {
    background-color: #d42974 !important;
}
.social-network a.icoLinkedin:hover {
    background-color: #007bb7 !important;
}
@media (max-width:767px){
    #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
