@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

footer {
	min-height: 190px;
	font-family: 'Oswald Light', sans-serif;
}

.footer{
	padding: 0px;
	margin-top: 30px;
	border-top: 0px;
}

.footerleft {
	margin-top: 50px;
	padding: 0 36px;
}

.logofooter {
	margin-bottom: 10px;
	font-size: 25px;
	color: #fff;
	font-weight: 700;
	width: 50%;
	margin:  auto;
}

.footerleft p {
	color: #fff;
	font-size: 12px !important;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 10px;
}

.footerleft p i {
	width: 20px;
	color: #999;
}

.paddingtop-bottom {
	margin-top: 50px;
}

.footer-ul {
	list-style-type: none;
	padding-left: 0px;
	margin-left: 2px;
}

.footer-ul li {
	line-height: 29px;
	font-size: 12px;
}

.footer-ul li a {
	color: #a0a3a4;
	transition: color 0.2s linear 0s, background 0.2s linear 0s;
}

.footer-ul i {
	margin-right: 10px;
}

.footer-ul li a:hover {
	transition: color 0.2s linear 0s, background 0.2s linear 0s;
	color: #ff670f;
}

/* .social:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
} */

.icon-ul {
	list-style-type: none !important;
	margin: 0px;
	padding: 0px;
}

.icon-ul li {
	line-height: 75px;
	width: 100%;
	float: left;
}

.icon {
	float: left;
	margin-right: 5px;
}

.copyright {
	/*min-height: 40px;*/
	/* background-color: #00774e; */
	margin-top: 0px !important;
}

.copyright p {
	text-align: center;
	color: rgb(40, 90, 65);
	/*padding: 10px 0;*/
	margin-bottom: 0px;
	/* margin:  auto; */
}

.heading7 {
	font-size: 21px;
	font-weight: 700;
	color: #d9d6d6;
	margin-bottom: 10px;
}

.post p {
	font-size: 12px;
	color: #FFF;
	line-height: 20px;
}

.post p span {
	display: block;
	color: #8f8f8f;
}

.bottom_ul {
    list-style-type: none;
    /* width: 100%; */
    margin: auto;
    display: table;
    font-family: oswald;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.bottom_ul li {
	line-height: 40px;
	display: inline-block;
}

.bottom_ul li:after {
	content: "/";
	color: #FFF;
	margin-right: 8px;
	margin-left: 8px;
}

.bottom_ul li a {
    font-size: 19px;
    cursor: pointer;
}

.footer_menu {
    min-height: 42px;
    background: rgb(51, 104, 154);
    width: 100%;
    margin: auto;
}

/*.bottom_ul a:hover {
    background: rgba(200, 83, 111, 1);
}*/

.linha_footer{
    width: 95%;
    margin: auto;	
}

.social_insta{
    background-position: -3% !important;
}
.social_face{
    background-position: 48% !important;
}
.social_linkd{
    background-position: 103% !important;
}
.social_insta, .social_face, .social_linkd{
	background: url(../../images/footer/social.png) no-repeat;
    width: 47px;
    height: 47px;
    background-color: rgba(55, 55, 55, 1);
    background-size: 180px;
    float: left;
    margin: 1%;
    border-radius: 8px;
}
.social_insta:hover, .social_face:hover, .social_linkd:hover {
    background-color: #923149;
    cursor: pointer;
}
div#social {
    float: right;
    width: 35.1%;
}
i.fa {
    margin-right: 5px;
    font-size: 25px;
}
ul.social-network a{
    background-color: #285a41;
}