
.img-inicial{
    width: 100%;
    height: 100%;
    position: absolute;
}
section#entrada{
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 999;
}
.seta-scroll {
    width: 100%;
    height: 60%;
    position: absolute;
}
a.scroll.its-smooth {
    background: url(../../images/seta.svg) no-repeat;
    width: 100%;
    height: 100%;
    /* left: 41px; */
    position: absolute;
    /*background-size:  5%;*/
    background-position: center;
    top: 85%;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-name: scroll;
}
@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(25px);
    }
}
.text-principal{
    display: table;
    width: 100%;
    height: 100vh;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    z-index: 90;
}
section#entrada .align {
    display: table-cell;
    vertical-align: middle;
}
section#entrada h2 {
    font: 700 18px 'Raleway', Arial, sans-serif;
    font-family: 'Arvo', serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
    margin-top: 25px;
}
.h2-principal{
    font: 700 19px 'Raleway', Arial, sans-serif;
}
.textoprincipal{
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 1;
}
section#entrada h2{
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 1px black;
    color: white;
}