section#loading {
    position: fixed;
    width: 100%;
    height: 100%;
	background: transparent;
    top: 0px;
    z-index: 9999;
    transition: all 10s;
}
#loading.loadingColor{
    background: rgba(0, 0, 0, 0.40);
}
img.imgLoading {
    margin: auto;
    /* position: relative; */
    display: block;
    /* width: 3%; */
}
.divLoading{
    /* position: absolute; */
    width: 100%;
    /* display: block; */
    top: 50%;
    position: relative;
}