section#mapa {
    padding-top: 115px;
    background: #cdcdda;
}
div#container-left {
    /* width: 49%; */
    /* vertical-align: middle; */
    /* position: relative; */
    /* display: inline-block; */
}
div#container-rigth {/* width: 49%; *//* vertical-align: middle; *//* position: relative; *//* display: inline-block; */}

.jvectormap-label{
    position: absolute;
/*    top: 40px;
    left: 0px;*/
    background: #1b1919;
    padding: 3px 5px;
    color: white;
    border-color: #29689a;
    border-style: double;
    border-radius: 5px;
}

/*g[Attributes Style] {
    transform: scale(0.0025) translate(136.681, 0) !important;
}*/