@font-face {
    font-family: 'tt0009m_';
    src: url(../../fonts/fontes/tt0009m_.ttf);
}
/*#menu {
    position: fixed;
    width: 100%;
    height: 85px;
}*/
#menu {
    background-color: #29689A !important;
    margin-bottom: 0px;
    border-color: transparent;
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100px;
}
/*div#exemplo-navbar-collapse{
    width: 1000px;
    margin: auto;
    position: relative;
}*/
/*ul.nav.navbar-nav.navbar-left li {
    float: right;
}
ul.nav.navbar-nav.navbar-left {
    margin-right: 100px;
    width: 360px;
    transition: 0.5s all;
}*/
/*
.left0{
    margin-left: 0px !important;    
}*/

/*ul.nav.navbar-nav.navbar-rigth {
    width: 360px;
    transition: 1s all;
}

.rigth0{
    margin-right: 0px !important;
}*/

div#logomarca {
    /* margin: auto; */
    width: 300px;
    transition: 1s all;
    height: 100px;
}
#navbarSupportedContent.collapse.navbar-collapse .nav-item a::after {
  content: "";
  background-image: url('/../../images/logomarca/img.png');
  background-repeat: no-repeat; 
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
#navbarSupportedContent.collapse.navbar-collapse .nav-item a.ativo::after, 
#navbarSupportedContent.collapse.navbar-collapse .nav-item a:hover::after
{
    opacity: 1;
    transition: opacity 0.6s;
    background-position: bottom;
    background-size: 75%;
}
#logomarca img{
    /* height: auto; */
    /* width: auto; */
    position: relative;
    margin: auto;
    /* float: none; */
    /* top: 70px; */
}
.esconder{
    width: 0 !important;
    opacity: 0;
}
#logomarca1{
    width: 18% ;
    opacity: 1;
    height: auto;
    padding: 2px 0px; 
}
.nav-link{
    /*top: 15px;*/
    position: relative;
    font-family: tt0009m_;
    color: white !important;
    font-size: 1.3em;
    letter-spacing: 1px;
    line-height: 1.728571;
}
li.nav-item{
    cursor: pointer;
}
#logomarcaA{
    width: 100px;
    opacity: 0;
    height: auto;
    padding: 0px 0px;
    /* margin: 5px 0px 0px 0px; */
    transition: 1s all;
    position: absolute;
    top: 5px;
}
#logomarcahorz{   
    width: 250px;
    opacity: 0;
    height: auto;
    padding: 0px 0px;
    /* margin: 5px 0px 0px 0px; */
    transition: 1s all;
    position: absolute;
    top: 13px;}
.aparecer{
    transition: 0.3s all;
    opacity: 1 !important;
}
.navbar-header a.logo-esq{
    cursor: pointer;
}
/*.divul {
    margin: auto;
    position: relative;
    width: max-content;
}*/