section#noticias, section#noticiasxl{
    width: 100%;
}
section#noticiasxl .row{
    margin-right: 0px;
    margin-left: 0px;
}
section#noticiasxl h1{
    margin-bottom: 0px;
}
img.img-responsive.img-maior {
    margin: auto;
    display: block;
    border: 2px solid rgb(62, 119, 78);
    width: 100%;
    cursor: pointer;
    height:500px;
}
.col-sm-6.not-principal {
    margin-top: 1%;
}
img.img-responsive.img-menores {
    width: 100%;
    margin:  auto;
    /* display: block; */
    padding: 1%;
    cursor: pointer;
}
.h1-not{
    font-size: 1.5rem;
    color: white;
    font-family:  oswald;
    font-weight:  lighter;
    cursor: pointer;
}
.not-secund{
    margin-bottom: 3%;
}
.container-not {
    width: 80%;
    margin: auto;
    background: rgb(62, 119, 78);
}
.container-not-principal{
    width: 95%;
    background: rgb(62, 119, 78);
    padding: 2.2%;
    margin:  auto;
}
.back{
    background: url('../../images/noticias/back.png')
}
.conteudo-not{
    font-size: 26px;
    color: rgba(0, 0, 0, 0.70);
    font-family: oswald;
    text-align: justify;
    padding: 0% 2%;
    margin-bottom: 0px;
    overflow:  hidden;
    max-height: 316px;
    cursor: pointer;
}
.data-not {
    font-size: 22px;
    color: grey;
    font-family: oswald;
    padding: 0% 2%;
    margin:  0%;
    display:  inline-block;
    float:  right;
}
.linha-not{
    background: rgb(252,252,252); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(252,252,252,1) 1%, rgba(249,249,249,1) 5%, rgba(10,14,10,1) 35%, rgba(117,117,117,1) 62%, rgba(117,117,117,1) 62%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(252,252,252,1) 1%,rgba(249,249,249,1) 5%,rgba(10,14,10,1) 35%,rgba(117,117,117,1) 62%,rgba(117,117,117,1) 62%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(252,252,252,1) 1%,rgba(249,249,249,1) 5%,rgba(10,14,10,1) 35%,rgba(117,117,117,1) 62%,rgba(117,117,117,1) 62%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    /* top: 20px; */
    height: 8px;
    border-radius: 5px;
    margin: auto;
    margin: 2% auto;
}
.col_tit_not {
    background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right,rgb(40, 90, 65) 0%,rgba(51, 104, 154, 0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
    /* margin: auto; */
    /* width: 95%; */
    /* top: 20px; */
    margin-top: 2%;
    color: white;
}
.row.noticia-imagem {
    width: 100%;
    margin-top: 10px;
}
img.img-fluid.imgxl {
    border: 2px solid rgba(0, 0, 0, 0.28);
    padding: 5px;
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 2%;
}
p.estiloP {
    text-align: justify;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.7);
    margin: 0px;
    text-indent: 3em;
}
.row.noticia-titulo {
    width: 100%;
    margin: 0px;
}
.row.texto.column.column-text{
    width: 85%;
    margin: auto !important;
}
.dataReal{
    font-size: 20px;
    font-family: oswald;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 0px;
    color: #ffffffa3;
}
.icon-calendar{
    display: flex;
    justify-content: end;
    color: #fff;
    font-size: 15px;
    margin-top: 7px;
}
h1.h1_noticias {
    font-size: 2.5em;
    padding: 10px;
    color: #913048;
}
div#logomarca{
    display: none;
}
#logomarcaA{
    opacity: 1;
}
#menu{
    position: relative;
}
.titulo{
    height: 60px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    border-top: 10px solid #215a41;
}