/*
Código é poesia, por isso me considero quase um Vínícius de Moraes dos códigos!
Hahahaha just kidding.

Leia meu poema nerd:

Programador quando nasce,
Aprende binários de montão,
Cresce escrevendo códigos,
E faz até debug no coração.

Obrigado por estar lendo isto, é sinal de que meu trabalho está sendo visualizado e compartilhado, espero que você esteja aprendendo!
Se você está lendo isto, seja meu amigo, me mande um email vinicius@vilourenco.com.br falando a primeira coisa que vier a mente, ficarei feliz em ouvir o que se passa na sua mente neste momento.
Code is Poetry.
20/07/2014.
@ViLourenco.
http://www.vilourenco.com.br
*/

header{

	background-color:#20558B;
	max-height:170px;
}

/* h1 {

	font-family: 'Raleway', sans-serif;
	text-align:center;
	text-transform: uppercase;
	font-weight: 400;	
	color:#FFF;	
	margin-top: 0px;
	padding-top: 40px;
	padding-bottom: 40px;
} */

#h1Topo{
	font-family: 'Raleway', sans-serif;
	text-align:center;
	font-weight: 400;	
	color:#20558B;
	padding-bottom: 60px;
}

#containerMiddle{
	max-height: 600px;
}

#rowContainerMiddle{	
	float: none;
	margin: 0 auto;
	margin-top: 30px;
}

#parallaxBar{
	height:400px;
	background-color:#004c82;
	background: url(/images/milho3.jpg) 50% 0 fixed;
    position: relative; 	
}
#parallaxBar2{
	height:500px;
	background-color:#004c82;
	background: url(/images/soja.png) 50% 0 fixed;
    position: relative; 	
}

#footerMenu{
	margin-top:40px;
	margin-bottom: 0px;
}

footer{
	height:100px;
	/*background-color:#004c82;	*/
}

.spanFooterBar{
	color:#6584a6;
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	font-weight: 500;	
}

.socialIcons li{
	display: inline-block;
	list-style: none;
	margin-left:10px;
}

.socialIcons li:hover{
	opacity:0.5;
	filter:Alpha(opacity=50); /* IE8 and earlier */	
}
.text p{
font-size: 2.5em;
    background: #33689a52;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 10.4%;
}
.text2 p{
    font-size: 2.5em;
    background: #3e774e6e;
    color: white;
    margin-top: 15%;
    text-shadow: 1px 1px 1px black;
}