div#logomarca{
    display: none;
}
#logomarcaA{
    opacity: 1;
}
section#produtoxl {
    background: url(../../images/produtos/fake-brick.png);
    padding: 0px;
    position: absolute;
}
.marcadagua {
    background: url(../../images/produtos/img.png);
    width: 100%;
    height: 100%;
    opacity: 0.2;
    position: absolute;
    background-size: 6%;
    background-position: center;
}
.img_prod {
    width: 100%;
    height: 370px;
}
h1.texto {
    text-align: justify;
    font-size: 1.5em;
    font-family: HelveticaCdLtObl;
    color: white;
    width: 75%;
    margin: auto;
}
.col_tit_not {
    background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
    /* margin: auto; */
    /* width: 95%; */
    /* top: 20px; */
    margin-top: 2%;
    color: white;
    /* opacity: 0.5; */
}
.col_tit_not p {
    font-size: 2rem;
    margin-left: 20px;
    margin-top: 1rem;
    color: #6e5b47;
}