#produtos .abrv-pan{
    color: white;
    font-size: 8rem;
    text-align: center;
    margin: 0;
    padding-top: 85px;
    z-index: 9;
    position: relative;
}
#produtos .pan{
    font-size: 1.8rem;
    color: white;
    text-align: center;
    top: -146px;
    position: relative;
}
section#produtos{
     background: url(../../images/produtos/fake-brick.png);
     background-color: #285a41;
     padding: 0px;
     position: relative;
}
img.menor{
    max-width: 180px;
    height: auto;
}
img.maior{
    max-width: 205px;
    height: auto;
}
.img-produto{
    position: relative;
    transition: all 0.5s;   
}
.produtos{
    text-align: center;
    margin: 0px;
}
.col-lg-12.prim-fil {
    top: -25px;
    position: relative;
}
.sec-fil{
    top: -140px;
    position: relative;
}
.img-produto:hover{
    transform: scale(1.5);
    z-index: 9;
    cursor: pointer;
}
.marcadagua {
    background: url(../../images/produtos/img.png);
    width: 100%;
    height: 100%;
    opacity: 0.2;
    position: absolute;
    background-size: 6%;
    background-position: center;
}