section#quemsomos {
  position: relative;
  padding-top: 115px;
  min-height: 100vh;
}
h1{
  font-size: 1em;
}
#quemsomos h1{
    z-index: 99;
}
.img {
    background: url(../../images/qs.svg);
    width: 100%;
    height: -webkit-fill-available;
    background-attachment: fixed;
    background-size: 65%;
    background-repeat: no-repeat;
    min-height: max-content;
}
.barra img {
  width: 58%;
  position: absolute;
  top: 7%;
}
h1.primparagrafo, h1.segparagrafo, h1.tercparagrafo, h1.quartparagrafo, h1.quintparagrafo, .titulo, .titulo-quemsomos{
    text-align: justify;
    font-size: 18px;
    margin-left: 12%;
    margin-right: 12%;
    /* padding-right: 3%; */
    margin-top: 0px;
    font-family: HelveticaCdLtObl;
}
h1.titulo-quemsomos {
    /* margin-top: 3%; */
}
.titulo, .titulo-quemsomos{
    font-family: swissci;
    font-weight: bolder;
    font-size: 1.5em;
}
h1.quintparagrafo {
    margin-bottom: 3%;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-barras {
  width: 1.4931640625em;
}
svg.icon.icon-barramaior {
    width: 100%;
    height: 100%;
    position: absolute;
    color: #00800059;
}
svg.icon.icon-barras {
    width: 100%;
    height: 100%;
    color: #00800059;
    position: absolute;
}
/*.barra {
    transform: rotate(130deg) scale(1.089) skew(1deg) translate(0px);
    background: #aea9a957;
    width: 4%;
    left: 8%;
    top: 40%;
    height: 65%;
    position: absolute;
    -webkit-transform: rotate(215deg) scale(3.289) skew(1deg) translate(-26px);
    -moz-transform: rotate(130deg) scale(1.089) skew(1deg) translate(0px);
    -o-transform: rotate(130deg) scale(1.089) skew(1deg) translate(0px);
    -ms-transform: rotate(130deg) scale(1.089) skew(1deg) translate(0px);
}*/
.barra1 {
    transform: rotate(130deg) scale(1.089) skew(1deg) translate(0px);
    background: #b3b3b359;
    width: 4%;
    left: 0%;
    top: 40%;
    height: 65%;
    position: absolute;
    -webkit-transform: rotate(218deg) scale(4.089) skew(2deg) translate(-40px);
    -moz-transform: rotate(130deg) scale(1.089) skew(1deg) translate(0px);
    -o-transform: rotate(130deg) scale(1.089) skew(1deg) translate(0px);
    -ms-transform: rotate(130deg) scale(1.089) skew(1deg) translate(0px);
}
.barra2 {
    transform: rotate(130deg) scale(1.089) skew(1deg) translate(0px);
    background: #b3b3b359;
    width: 4%;
    right: 67.8%;
    top: 100%;
    height: 31%;
    position: absolute;
    -webkit-transform: rotate(126.6deg) scale(3.889) skew(-378deg) translate(-80px);
    -moz-transform: rotate(130deg) scale(1.089) skew(1deg) translate(0px);
    -o-transform: rotate(130deg) scale(1.089) skew(1deg) translate(0px);
    -ms-transform: rotate(130deg) scale(1.089) skew(1deg) translate(0px);
}