#menu{
    position: relative;
    background-color: #4c6990 !important;
}
.dskfull, .vita, .secta{
    background-color: #326897!important;
}
.dskfull .img_prod{
    background: url(../../../images/produtos/DSK-FULL.png) no-repeat;       
    background-position: center;
}
.vita .img_prod{
    background: url(../../../images/produtos/vita.png) no-repeat;       
    background-position: center;
}
.secta .img_prod{
    background: url(../../../images/produtos/secta.png) no-repeat;
    background-position: center;
}
#dskfull, #vita, #secta {
    background: linear-gradient(to right,rgb(254, 254, 254) 0%,rgb(50, 104, 151) 100%);
}
p#pdskfull, p#pvita, p#psecta{
    display: inline-block;
    color: #326897;
    width: 80%;
}
p#pdskfull{
    width: 78%;
}