#menu{
    position: relative;
    background-color: #b29859 !important;
}
.d, .cgaplus, .vpower, .lotus{
    background-color: #c79e3f!important;
}
.cgaplus .img_prod{
    background: url(../../../images/produtos/cga-plus.png) no-repeat;
    background-position: center;
}
.d .img_prod{
    background: url(../../../images/produtos/d.png) no-repeat;
    background-position: center;  
}
.vpower .img_prod{
    background: url(../../../images/produtos/v-power.png) no-repeat;
    background-position: center;   
}
.lotus .img_prod{
    background: url(../../../images/produtos/lotus.png) no-repeat;   
    background-position: center;
}
#lotus, #d, #vpower, #cgaplus {
    background: linear-gradient(to right,rgb(254, 254, 254) 0%,rgba(199, 158, 63) 100%);
}
p#plotus, p#pd, p#pvpower, p#pcgaplus{
    color: #c79e3f;
    display: inline-block;
    width: 80%;
}