#menu{
    position: relative;
    background-color: #56493b !important;
}
.organicf{
    background-color: #6e5b47!important;
}
.organicf .img_prod{
    background: url(../../../images/produtos/organic-f.png) no-repeat;   
    background-position: center;
}
#organicf {
    background: linear-gradient(to right,rgb(254, 254, 254) 0%,rgb(110, 91, 71) 100%);
}
p#porganicf{
    color: #6e5b47;
    display: inline-block;  
    width: 80%;
}