extends ../layout
block content
	link(rel='stylesheet', href='/css/mylibs/produtosxl.css')
	link(rel='stylesheet', href='/css/mylibs/produtos/dourado.css')
	include ../partials/menu
	section#produtoxl.cgaplus
		.marcadagua
		.row(style="opacity:0.7;margin-right:0px;margin-left:0px;")
			.col-sm-12.col_tit_not#cgaplus
				p#pcgaplus ALLEANZA CGA PLUS
				p#volume(style="display: inline-block; color: white") 1L 5L 10L 20L
				//- h1.h1-xl CGA PLUS
		.row(style="margin-right:0px;margin-left:0px;")
			.img_prod
		.row(style="margin-right:0px;margin-left:0px;")
			h1.texto Fertilizante complexado com elevada concentração de Extrato de Algas ASCOPHYLLUN NODOSUM em sua formulação e Carbono Orgânico e Aminoácidos, a qual confere um poderoso enraizamento das plantas e eleva o potencial de Germinação quando inoculado a sementes, Potencializa a Fixação Biológica e tem como um extra em sua formula os elementos Ni Co Mo responsáveis diretamente pelo start inicial do potencial vegetativo das sementes, além de promove crescimento celular, sua formulação é fechada 100% com Matérias Primas sem adição de água na formula.