extends ../layout
block content
	link(rel='stylesheet', href='/css/mylibs/produtosxl.css')
	link(rel='stylesheet', href='/css/mylibs/produtos/dourado.css')
	include ../partials/menu
	section#produtoxl.d
		.marcadagua
		.row(style="opacity:0.7;margin-right:0px;margin-left:0px;")
			.col-sm-12.col_tit_not#d
				p#pd ALLEANZA D
				p#volume(style="display: inline-block; color: white") 1L 5L 10L 20L
				//- h1.h1-xl CGA PLUS
		.row(style="margin-right:0px;margin-left:0px;")
			.img_prod
		.row(style="margin-right:0px;margin-left:0px;")
			h1.texto Fertilizante Multifuncional rico em Carbono Orgânico e aminoácidos com alta concentração de Fosforo, Auto regulador de PH para uso de Herbicidas, promove o efeito Tamponante e eleva a Condutividade Elétrica da água e tem como efeito direto o poder de penetrar na cerosidade da folha auxiliando na translocação diretamente para Raízes. “21 aminoácidos”.