extends ../layout
block content
	link(rel='stylesheet', href='/css/mylibs/produtosxl.css')
	link(rel='stylesheet', href='/css/mylibs/produtos/azul.css')
	include ../partials/menu
	section#produtoxl.dskfull
		.marcadagua
		.row(style="opacity:0.7;margin-right:0px;margin-left:0px;")
			.col-sm-12.col_tit_not#dskfull
				p#pdskfull ALLEANZA D.S.K. FULL
				p#volume(style="display: inline-block; color: white") 1L 5L 10L 1000L

				//- h1.h1-xl CGA PLUS
		.row(style="margin-right:0px;margin-left:0px;")
			.img_prod
		.row(style="margin-right:0px;margin-left:0px;")
			h1.texto Fertilizante com alto poder de assimilação pelas culturas devido a sua formula única de balanceamento a qual promove uma rápida reposição de potássio e enxofre corrigindo imediatamente a deficiência nutricional, aumentando assim o peso especifico, °Brix, o ATR e os Carboidratos de frutos e grãos, contém baixo índice salino podendo ser aplicado em cultivos intensivos sensíveis a salinidade, sua alta concentração de Enxofre permite utilizar o produto como um poderoso e eficaz desalojante de insetos em qualquer estágio de vida.