extends ../layout
block content
	link(rel='stylesheet', href='/css/mylibs/produtosxl.css')
	link(rel='stylesheet', href='/css/mylibs/produtos/dourado.css')
	include ../partials/menu
	section#produtoxl.lotus
		.marcadagua
		.row(style="opacity:0.7;margin-right:0px;margin-left:0px;")
			.col-sm-12.col_tit_not#lotus
				p#plotus ALLEANZA LÓTUS
				p#volume(style="display: inline-block; color: white") 1L 5L 10L 20L
				//- h1.h1-xl CGA PLUS
		.row(style="margin-right:0px;margin-left:0px;")
			.img_prod
		.row(style="margin-right:0px;margin-left:0px;")
			h1.texto Fertilizante complexado com elevada concentração de Extrato de Algas ASCOPHYLLUN NODOSUM em sua formulação e Carbono Orgânico e Aminoácidos, os quais promovem uma antecipação e aceleração da Florada permitindo maior concentração de Botões Florais por planta, eleva o potencial de pegamento floral, potencializa e promove o crescimento celular; Sua formulação é fechada 100% com Matérias Primas sem adição de água na fórmula.