extends ../layout
block content
	link(rel='stylesheet', href='/css/mylibs/produtosxl.css')
	link(rel='stylesheet', href='/css/mylibs/produtos/marrom.css')
	include ../partials/menu
	section#produtoxl.organicf
		.marcadagua
		.row(style="opacity:0.7;margin-right:0px;margin-left:0px;")
			.col-sm-12.col_tit_not#organicf
				p#porganicf ALLEANZA ORGANIC F
				p#volume(style="display: inline-block; color: white") 1L 5L 10L 20L
				//- h1.h1-xl CGA PLUS
		.row(style="margin-right:0px;margin-left:0px;")
			.img_prod
		.row(style="margin-right:0px;margin-left:0px;")
			h1.texto Fertilizante formulado com Ácidos Húmicos e Fúlvicos(maior presença de Fúlvicos) provenientes da Matéria prima  Leonardita  a qual tem como características as maiores concentrações de AH e AF do mercado mundial, produto altamente solúvel em toda faixa de pH útil (2 a 12), aumenta a CTC e a Microbiota do solo, favorece a estrutura do solo promovendo uma melhor condição para as raízes aumentando o poder de absorção e retenção de agua e melhorando a aeração e estimula a captação de nutrientes retidos no solo pelas Raízes e Radicelas.