extends ../layout
block content
	link(rel='stylesheet', href='/css/mylibs/produtosxl.css')
	link(rel='stylesheet', href='/css/mylibs/produtos/azul.css')
	include ../partials/menu
	section#produtoxl.secta
		.marcadagua
		.row(style="opacity:0.7;margin-right:0px;margin-left:0px;")
			.col-sm-12.col_tit_not#secta
				p#psecta ALLEANZA SECTA
				p#volume(style="display: inline-block; color: white") 1L 5L 10L 20L
				//- h1.h1-xl CGA PLUS
		.row(style="margin-right:0px;margin-left:0px;")
			.img_prod
		.row(style="margin-right:0px;margin-left:0px;")
			h1.texto Fertilizante rico em Potássio na sua fórmula exclusiva que fornece a correção rápida e equilíbrio nutricional da planta, eleva o controle de insetos sugadores quando associados a defensivos agrícolas devido a sua característica única com poder de “atração de percevejo” para a gota na superfície da folha.
	//- include ../partials/footer2