extends ../layout
block content
	link(rel='stylesheet', href='/css/mylibs/produtosxl.css')
	link(rel='stylesheet', href='/css/mylibs/produtos/azul.css')
	include ../partials/menu
	section#produtoxl.vita
		.marcadagua
		.row(style="opacity:0.7;margin-right:0px;margin-left:0px;")
			.col-sm-12.col_tit_not#vita
				p#pvita ALLEANZA VITA
				p#volume(style="display: inline-block; color: white") 1L 5L 10L 20L
				//- h1.h1-xl CGA PLUS
		.row(style="margin-right:0px;margin-left:0px;")
			.img_prod
		.row(style="margin-right:0px;margin-left:0px;")
			h1.texto Fertilizante de alta tecnologia inovadora a qual promove a produção de Fitoalexinas das plantas garantindo a defesa natural contra aos ataques de doenças potencialmente agressivas aos vegetais, em sua formulação podemos contar com fontes de Cobre e Fosforo balanceados de forma que haja uma sinergia entre as moléculas formando uma parede celular mais resistente aos ataques do meio externo. “Bio controle de Fungos e Bactérias”