extends ../layout
block content
	link(rel='stylesheet', href='/css/mylibs/produtosxl.css')
	link(rel='stylesheet', href='/css/mylibs/produtos/dourado.css')
	include ../partials/menu
	section#produtoxl.vpower
		.marcadagua
		.row(style="opacity:0.7;margin-right:0px;margin-left:0px;")
			.col-sm-12.col_tit_not#vpower
				p#pvpower ALLEANZA V POWER
				p#volume(style="display: inline-block; color: white") 1L 5L 10L 20L
		.row(style="margin-right:0px;margin-left:0px;")
			.img_prod
		.row(style="margin-right:0px;margin-left:0px;")
			h1.texto Fertilizante complexado com elevada concentração de Extrato de Algas ASCOPHYLLUN NODOSUM em sua formulação e Carbono Orgânico e Aminoácidos, a qual confere um poderoso enraizamento das plantas e eleva o potencial de Germinação quando inoculado a sementes, e promove crescimento celular, formulação fechada 100% com Matérias Primas sem adição de água na fórmula. “aplicação também no estágio V-4 e V-8 da cultura do soja”